<div class="search-page" [@routerTransition]="">
    <form [formGroup]="searchForm" class="search-form">
        <app-autocomplete [placeholder]="page.PatientField.Placeholder.Value"
                          formControlName="resident"
                          itemTitle="FullName"
                          [dataSource]="'SEARCH_PATIENTS'"
                          [searchPropName]="'Name'"
                          [showDropdownButton]="true"
                          [itemTemplate]="residentSearchTemplate"
                          [iconSrc]="getAsset(page.PatientField.Image.Value)"
                          [zoom]="'zoom1'"
                          [dropdownElementsBeforeScroll]="3">
        </app-autocomplete>
    </form>

    <ng-template #residentSearchTemplate let-item let-text="text" let-selection="selection">
        <div class="resident-list-item">
            <div>
                <highlight [text]="text" [selection]="selection"></highlight>
                <div class="item-details">
                    room: {{item.RoomName}} Id: {{item.PID}} DOB: {{item.BirthDate | date:'yyyy-MM-dd'}}
                </div>
            </div>
            <div *ngIf="item.Status && item.Status != 'Active'">
                <div class="item-status"
                  [ngClass]="{'loa': item.Status === 'Loa', 'discharged': item.Status === 'Discharged', 'bed-hold': item.Status === 'Bed Hold'}">
                    {{item.Status}}
                </div>
            </div>
        </div>
    </ng-template>
</div>
