.search-page {
  height: 100%;
  text-align: center;
  width: 100%;

  form.search-form {
    padding-top: 30px;
    width: 100%;
  }

  .resident-list-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #BABDBB;
    user-select: none;

    .item-details {
      color: #646464;
      font-size: 30px;
    }
    .item-status {
      color: #717273;
      margin-right: 60px;
      text-transform: uppercase;

      &:active {
        border-radius: 40px;
        padding: 0px 40px;
        margin: 20px;
        border: 1px solid #B1B1B1;
        background: linear-gradient(to bottom, #F2F2F2 0%,#F2F2F2 50%,#F3F3F3 51%,#A7ABAC 100%);

        &.loa {
          color: #12B130;
        }
        &.discharged {
          color: #00AEEE;
        }
        &.bed-hold {
          color: #720000;
        }
      }
    }
  }
}
