﻿<div class="access-cartriges-page container-fluid">
    
    <div class="row">
        <div class="col"></div>
        <div class="col-9">
            <div class="main">
                <div class="grid-block">
                    <div class="search">
                        <form [formGroup]="searchForm" class="search-form">
                            <app-autocomplete [placeholder]="page.SearchField.Placeholder.Value"
                                              formControlName="query"
                                              itemTitle="FullName"
                                              [dataSource]="'SEARCH_MEDICATIONS'"
                                              [searchPropName]="'MedicationName'"
                                              [showDropdownButton]="true"
                                              [iconSrc]="getAsset(page.SearchField.Image.Value)"
                                              [zoom]="'zoom2'">
                            </app-autocomplete>
                        </form>
                    </div>
                    <div class="matrix pill-scrollbar">
                        <div class="ma-header">
                            <div *ngFor="let h of MatrixColumnTitles">{{h}}</div>
                        </div>
                        <div class="ma-body">
                            <div *ngFor="let ro of rows; let r = index" class="ma-body-row">
                                <div *ngFor="let co of columns; let c = index" (click)="selectBlock(r+1,c)" [ngClass]="matrixCellClass(r+1,c)">
                                    {{matrixCellValue(r+1,c)}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="legend-link">
                        <span [popover]="legendPopover" [outsideClick]="true" placement="top" containerClass="legend-tooltip-in-header">
                            {{page.Legend.LinkTitle.Value}}
                        </span>
                    </div>
                </div>
                <div class="details-block" *ngIf="selectedBlockPos.length && lastSelectedMedication">
                    <div class="med-header">
                        <h1>{{lastSelectedMedication.ContainerMedication.BrandName}}</h1>
                        <h3>{{lastSelectedMedication.ContainerMedication.GenericName}}</h3>
                    </div>
                    <div class="med-details">
                        <div class="med-table-header">
                            <div>&nbsp;</div>
                            <div>{{page.MedicationDetails.WorkingContainerHeader.Value}}</div>
                            <div>{{page.MedicationDetails.RefillCartridgeHeader.Value}}</div>
                        </div>
                        <div class="med-table-body-row">
                            <div>{{page.MedicationDetails.MedId.Value}}:</div>
                            <div>{{lastSelectedMedication.ContainerMedication.MedID}}</div>
                            <div>{{lastSelectedMedication.CartridgeMedication.MedID}}</div>
                        </div>
                        <div class="med-table-body-row">
                            <div>{{page.MedicationDetails.LotNumber.Value}}:</div>
                            <div>{{lastSelectedMedication.ContainerLotNumber}}</div>
                            <div>{{lastSelectedMedication.CartridgeLotNumber}}</div>
                        </div>
                        <div class="med-table-body-row">
                            <div>{{page.MedicationDetails.ManufactureExpirationDate.Value}}:</div>
                            <div>{{lastSelectedMedication.ContainerExpirationDate | date:'shortDate'}}</div>
                            <div>{{lastSelectedMedication.CartridgeExpirationDate | date:'shortDate'}}</div>
                        </div>
                        <div class="med-table-body-row">
                            <div>{{page.MedicationDetails.LoadExpirationDate.Value}}:</div>
                            <div>{{lastSelectedMedication.ContainerMedication.ExpirationDate | date:'shortDate'}}</div>
                            <div>{{lastSelectedMedication.CartridgeMedication.ExpirationDate | date:'shortDate'}}</div>
                        </div>
                        <div class="med-table-body-row">
                            <div>{{page.MedicationDetails.ManufactureNDC.Value}}:</div>
                            <div>{{lastSelectedMedication.ContainerMedication.NDC}}</div>
                            <div>{{lastSelectedMedication.CartridgeMedication.NDC}}</div>
                        </div>
                        <div class="med-table-body-row">
                            <div>{{page.MedicationDetails.Quantity.Value}}:</div>
                            <div>{{lastSelectedMedication.ContainerQuantity}}</div>
                            <div>{{lastSelectedMedication.CartridgeQuantity}}</div>
                        </div>
                        <div class="med-table-body-row">
                            <div>{{page.MedicationDetails.UseDate.Value}}:</div>
                            <div>&nbsp;</div>
                            <div>&nbsp;</div>
                        </div>
                        <div class="med-table-body-row">
                            <div>{{page.MedicationDetails.TransID.Value}}:</div>
                            <div>{{lastSelectedMedication.ContainerTransNum}}</div>
                            <div>{{lastSelectedMedication.CartridgeTransNum}}</div>
                        </div>
                        <div class="med-table-body-row">
                            <div>{{page.MedicationDetails.Imprint.Value}}:</div>
                            <div>&nbsp;</div>
                            <div>&nbsp;</div>
                        </div>
                        <div class="med-table-footer">
                            <div>&nbsp;</div>
                            <div><img [src]="getAsset(lastSelectedMedication.ContainerMedication.ImageSrc)" *ngIf="lastSelectedMedication.ContainerMedication" /></div>
                            <div><img [src]="getAsset(lastSelectedMedication.CartridgeMedication.ImageSrc)" *ngIf="lastSelectedMedication.CartridgeMedication" /></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-2 buttons">
            <div class="action-buttons">
                <div class="centered-btn action-btn"
                     *ngFor="let btn of page.ActionButtons"
                     [ngClass]="{'selected': btn.Action == selectionMode}"
                     (click)="actionBtnClicked(btn.Action)">
                    <img [src]="getAsset(btn.Image.Value)" />
                    <div><span [innerHTML]="btn.Text.Value"></span></div>
                </div>
            </div>
            <div>
                <div class="centered-btn start-btn" (click)="startLoad(modalTemplate)">
                    <img [src]="getAsset(page.StartLoad.Image.Value)" />
                    <div><span [innerHTML]="page.StartLoad.Text.Value"></span></div>
                </div>
            </div>
        </div>
    </div>

    <ng-template #legendPopover>
        <div class="legend-tooltip">
            <div class="legend-table">
                <div *ngFor="let lg of page.Legend.Items" class="lg-item">
                    <div class="lg-color" [style.background]="lg.Color.Value"></div>
                    <div class="lg-title">{{lg.Text.Value}}</div>
                </div>
            </div>
        </div>
    </ng-template>

    <ng-template #modalTemplate>
        <div class="modal-holder" [style.backgroundImage]="'url(' + getAsset(currentDialog.Background.Value + ')')">
            <div class="modal-header">
                <span class="modal-title pull-left">{{currentDialog.Header.Value}}</span>
            </div>
            <div class="modal-img">
                <img [src]="getAsset(currentDialog.Button.Image.Value)" />
            </div>
            <div class="modal-body">
                <span class="modal-title pull-left">{{currentDialog.Button.Text.Value}}</span>
            </div>
        </div>
    </ng-template>
</div>