.access-cartriges-page {

    .main {
        background: #fff;
        display: flex;
        flex-direction: row;
        width: 100%;

        .grid-block {
            min-width: 53%;
            display: flex;
            flex-direction: column;
            padding-top: 35px;
            padding-left: 35px;
        }
        .details-block {
            min-width: 45%;
            padding: 16px;
            display: flex;
            flex-direction: column;
        }
        .med-header {
            width: 100%;
            background: #00ACF2;
            border-radius: 12px;
            padding: 4px 16px;
            color: #fff;

            .name {
                font-size: 28px;
            }
            .info {
                font-size: 20px;
            }
        }
        .med-details {
            margin-top: 20px;
            color: #AEAEAE;

            .med-table-header {
                div {
                    min-width: 32%;
                    display: inline-block;
                    text-align: center;
                }
            }
            .med-table-body-row {
                div {
                    min-width: 32%;
                    display: inline-block;
                    padding-top: 10px;
                }
                div + div {
                    color: #000;
                    padding-left: 10px;
                    background: #E7E7E7;
                }
            }
            .med-table-footer {
                margin-top: 20px;

                div {
                    min-width: 32%;
                    display: inline-block;
                    text-align: center;
                }
                div + div {
                    padding: 5px;
                    background: #E7E7E7;
                }
            }
        }
        .matrix {
            margin-top: 20px;
            color: #ABABAB;
            width: 96%;
            max-height: 606px;

            .ma-header {
                display: flex;
                flex-direction: row;

                div {
                    flex-grow: 1;
                    display: flex;
                    flex-direction: column;
                    text-align: center;
                    padding: 3px 0px;
                }
                > div:first-child {
                    max-width: 20px;
                    margin-right: 1px;
                }
            }
            .ma-body-row {
                display: flex;
                flex-direction: row;

                div {
                    display: flex;
                    flex: 1 0 0px;
                    align-items: center;
                    margin: 3px;
                    box-sizing: border-box;

                    &:before {
                        content: "";
                        display: block;
                        padding-top: 100%;
                        float: left;
                    }
                    &.selected {
                        box-shadow: inset 0px 0px 0px 3px #64B3C9;
                        color: #64B3C9;
                    }
                }
                div + div {
                    justify-content: center;
                    background: #E7E7E7;
                }
                > div:first-child {
                    max-width: 20px;
                    margin-right: 1px;
                }

                .legend1 {
                    background: #99CC32 !important;
                    color: #fff !important;
                }
                .legend2 {
                    background: #209F40 !important;
                    color: #fff !important;
                }
                .legend3 {
                    background: #FEF694 !important;
                }
                .legend4 {
                    background: #FFBD00 !important;
                }
                .legend5 {
                    background: #E11B1D !important;
                    color: #fff !important;
                }
                .legend6 {
                    background: #9A0B0D !important;
                    color: #fff !important;
                }
                .legend7 {
                    background: #E7E7E7 !important;
                }
                .legend8 {
                    background: #979B9D !important;
                    color: #fff !important;
                }
                .legend9 {
                    background: #64B3C9 !important;
                    color: #64B3C9 !important;
                }
            }
        }
        .legend-link {
            width: 96%;
            color: #830503;
            text-align: right;
            padding-right: 24px;
            cursor: pointer;
            font-size: 26px;
        }
    }

    .buttons {
        display: flex;
        flex-direction: column;
        justify-content:space-between;

        .action-buttons {
            padding-top: 120px;
        }
        .action-btn {
            display: inline-block;
            color: gray;
            font-size: 20px;
            margin-bottom: 5px;
        }
        .start-btn {
            display: inline-block;
            color: red;
            font-size: 28px;
        }
    }

    .legend-tooltip {
        .legend-table {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;

            .lg-item {
                flex: 1 0 48%;
                min-width: 48%;
                margin: 3px;

                .lg-color {
                    width: 45px;
                    height: 45px;
                    border: 2px solid grey;
                    float: left;
                    margin-right: 5px;
                }
                .lg-title {
                    color: #000;
                    font-size: 14px;
                }
            }
        }
    }
}

.modal-holder {
    color: black;
    font-size: 100%;
    width: 100%;
    height: 100%;
    border-radius: 55px;

    > * {
        display: block;
        margin: 0 auto;
        text-align: center;
    }

    .modal-header {
        margin-top: 60px;
        padding: 50px 0px;
        border: none;
        font-size: 2.5rem;
    }

    .modal-img {
        margin-top: 70px;
    }

    .modal-body {
        font-size: 4rem;
    }
}