﻿<div class="loa-page container-fluid" *ngIf="context$ | async as context">
    
    <app-resident-details
        [currentResident]="context.currentResident"
        [assetsFolderPath]="assetsFolderPath"
        [userDetails]="page.UserDetails"
    ></app-resident-details>

    <form [formGroup]="loaForm">
        <div class="loa-date">
            <div class="picker-icon">
                <img src="{{getAsset(page.LoaPicker.Icon.Value)}}" />
            </div>
            <div class="picker">
                <h1 class="picker-title">{{page.LoaStartLabel?.Value}}</h1>
                <div>
                    <app-loa-picker formControlName="loaStart"
                        [pickerVM]="page.LoaPicker" [adminTimes]="adminTimes | async"></app-loa-picker>
                </div>
            </div>
        </div>
        <div class="loa-date">
            <div class="picker-icon">
                <img src="{{getAsset(page.LoaPicker.Icon.Value)}}" />
            </div>
            <div class="picker">
                <h1 class="picker-title">{{page.LoaEndLabel?.Value}}</h1>
                <div>
                    <app-loa-picker formControlName="loaEnd"
                        [pickerVM]="page.LoaPicker" [adminTimes]="adminTimes | async"></app-loa-picker>
                </div>
            </div>
        </div>
    </form>

    <div class="actions">
        <app-image-button [btn]="page.Continue" [assetsFolderPath]="assetsFolderPath"
            [disabled]="!loaForm.valid" (onClick)="continue($event, context.currentResident)"
            [style]="{'color': '#969696', 'font-size': '30px'}"></app-image-button>
    </div>
</div>
