.loa-page {
    width: 85%;
    margin: 0 auto;

    .loa-date {
        .picker-icon {
            float: left;
            width: 48px;
            height: 48px;
            margin-right: 15px;
        }
        .picker {
            overflow: hidden;
            .picker-title {
                font-size: 3rem;
                color: #6D6E72;
            }
        }
    }

    .actions {
        text-align: right;
    }
}
