:host {
    position: fixed;
    left: 0;
    top: 60%;
    right: auto;
    width: 450px;
    height: 300px;
    z-index: 99;
    font-size: 100%;
}

.system-notifications {
    position: relative;
    color: #fff;
    padding: 3px;
    height: 100%;
    background-color: #139DEC; /*#85060F;*/ 
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: -27px 15px 66px -8px rgba(0,0,0,0.75);

    &.lowest {
        background-color: yellow;
    }
    &.low {
        background-color: #85060F;
    }
    &.normal {
        background-color: #139DEC;
    }
    &.high {
        background-color: orange;
    }
    &.highest {
        background-color: red;
    }

    .sys-notify-icon {
        position: absolute;
        right: 15px;
        top: 15px;
    }

    .text {
        font-family: Arial;
        font-size: 200%;
        padding-right: 60px;
        overflow-wrap: break-word;
    }

    .close-button {
        position: absolute;
        right: 25px;
        color: #fff;
        font-weight: bold;
        padding: 2px;
        cursor: pointer;
        font-size: 40px;
        line-height: normal;
    }
}
