﻿<div class="system-notifications"
     *ngIf="notifications[currentIndex]; let notify"
     [ngClass]="{'lowest': notify.Priority == 0, 'low': notify.Priority == 1, 'normal': notify.Priority == 2, 'high': notify.Priority == 3, 'highest': notify.Priority == 4 }">
    <div class="close-button" *ngIf="!notify.AutoClosed; else iconImage" (click)="closeNotification()">x</div>
    <ng-template #iconImage>
        <img [src]="getIconSrc()" class="sys-notify-icon" />
    </ng-template>

    <p [innerHtml]="notify.Text" *ngIf="currentIndex > -1 && currentIndex < notifications.length" class="text"></p>

</div>