<div class="top-page-info">
  <div class="header clearfix">
    <h4 class="verification-head-links">
      <a href="#">Home</a> >
      <a href="#">Services</a> >
      <a href="#">Packaging</a> >
      <a href="#">Med Run Manager</a>
    </h4>
  </div>
  <hr>
  <div class="header clearfix">
    <h3 class="verification-head">Med Run Status</h3>
  </div>
</div>

<div class="row med-run-grid">
  <div class="col-md-2">

  </div>
  <div class="col-8"><ag-grid-angular
    style="width: 750px; height: 300px;"
    class="ag-theme-balham"
    [rowData]="rowData"
    [columnDefs]="columnDefs">
  </ag-grid-angular></div>

  <div class="col-md-2">
    <button  class="reset-password-btn" style="width: 130px;">OK</button>
  </div>
</div>

