.image-button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    font-size: 100%;
    color: #000;

    div {
        position: absolute;
        top: 0;
        left: 0;
        width:100%;
        height:100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        font-family: Arial;
        text-align: center;
    }

    &.disabled {
        cursor: not-allowed;
        opacity: 0.5;
    }
}
