﻿<div class="image-button" (click)="onClickInt(btn.Action)" [ngStyle]="style" [ngClass]="{'disabled': disabled}">
    <img [src]="assetsFolderPath + btn.Image.Value" />
    <div>
        <span [innerHTML]="btn.Text.Value"></span>
    </div>
</div>