﻿<div class="conf-page">
    <div class="conf-table">
        <div class="conf-table-row subtitle" *ngIf="page.Subtitle">
            {{page.Subtitle.Value}}
        </div>
        <div class="conf-table-row" *ngFor="let attr of attributes">
            <div>{{attr.Key}}</div>
            <div *ngIf="attr.Value" class="row-value">{{attr.Value}}</div>
        </div>
    </div>
</div>

<div class="more-conf" *ngIf="page.More" (click)="sendClickEvent(page.More.Action)">
    <span>{{page.More.Text.Value}}</span>
    <img [src]="getAsset(page.More.Image.Value)" />
</div>
