.conf-page {
    display: block;
    min-height: 80%;
    font-size: 100%;
    margin: 0 auto;
    width: 70%;
    background-color: #F5F5F5;

    .conf-table {
        width: 70%;
        margin: 0 auto;
        text-align: left;
        padding-top: 60px;
        
        .conf-table-row {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            border: 1px solid #8B8B8B;
            border-radius: 4px;
            padding: 4px 8px;
            margin-bottom: 6px;
            font-size: 200%;
            color: #000;

            .row-value {
                color: #404040;
            }

            &.subtitle {
                background-color: #DCF0EF;
            }
        }
    }
}
.more-conf {
    text-align: right;
    padding-right: 15px;
    color: #000;
    font-size: 200%;

    * {
        display: inline-block;
        vertical-align: middle;
    }
}
