﻿<div class="loa-picker clearfix" *ngIf="pickerVM" [style.color]="isChange ? '#FFFFFF' : '#6D6E72'">
    <form [formGroup]="pickerForm">
        <div class="dt">
            <span class="select-text">{{isChange ? pickerVM.Change.Value : pickerVM.Select.Value}}</span>
            <label class="dt-label">{{pickerVM.Date.Value}}</label>
            <app-date-picker formControlName="date"></app-date-picker>
        </div>
        <div class="or">
            <span class="or-label">{{pickerVM.Or.Value}}</span>
        </div>
        <div class="time">
            <div class="time-stamp">
                <h1>{{pickerVM.TimeStamp.Value}}</h1>
                <h1 class="time-value" (click)="openTimePicker()" role="button">{{pickerForm.controls['time'].value | date:'HH:mm'}}</h1>
            </div>
            <div class="med-pass">
                <h1>{{pickerVM.MedPass.Value}}</h1>
                <div class="at-container">
                    <select formControlName="adminTime">
                        <option value=""></option>
                        <option *ngFor="let at of adminTimes" [value]="at.UId">{{at.Name}}</option>
                    </select>
                </div>
            </div>
        </div>
    </form>
</div>