.loa-picker {
    .dt, .or, .time {
        display: inline-block;
        vertical-align: middle;
    }

    .dt {
        .select-text {
            display: block;
            font-size: 1.5rem;
        }
        .dt-label {
            font-size: 2.5rem;
            margin-right: 80px;
            vertical-align: bottom;
        }
        :last-child {
            display: inline-block;
            vertical-align: top;
        }
    }

    .time {
        h1 {
            display: inline-block;
            margin-bottom: 2.5rem;
        }
        .time-value {
            margin-left: 80px;
            padding: 0px 10px;
            border: 1px dotted gray;
            cursor: pointer;
            border-radius: 6px;
        }
    }

    .or {
        width: 140px;
        text-align: center;

        .or-label {
            border-radius: 50%;
            color: #fff;
            background: #B3B3B3;
            padding: 14px;
            font-size: 32px;
        }
    }

    .at-container {
        border-radius: 5px;
        padding: 8px 8px 12px 12px;
        background: #FDFDFD;
        box-shadow: -2px 6px 5px 0px rgba(184,180,184,1);
        margin-left: 40px;
        width: 300px;
        display: inline-block;
        select {
            color: #676767;
            background: #DEDEDE;
            font-size: 30px;
            padding: 8px 14px;
            width: 100%;
            border-radius: 4px;
        }
    }
}
