.prepare-block {
    color: #fff;
    font-size: 50px;
    text-align: center;
    font-weight: bold;

    > img {
        border-radius: 50%;
        background-color: #fff;
        padding: 15px;
    }
}
