.logon-container {
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 100%;
  padding-left: 0;
  padding-right: 0;
  .logo-image {
    height: 25%;
    img {
      padding-top: 10px;
    }
  }
  @input-width: 50em;
  form.logo-form {
    height: 20%;
    text-align: center;
    display: flex;
    flex-direction: column;
    div.form-control {
      background-color: transparent;
      border: unset;
      .password-container {
        position: relative;
        width: @input-width;
        margin: 0 auto;
        display: block;
        .password-icon {
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          width: 4em;
          display: flex;
          justify-content: center;
          align-items: center;

          img {
              background-color: #9B9EAB;
          }
        }
        input {
          font-size: 2.6em;
          border-radius: 20px;
          background-color: #ededed;
          padding: 22px 1.5em;
          line-height: normal;
          border: 1px solid #B1B1B1;
          box-shadow: inset 3px 3px 0px 1px rgba(222,222,222,1);
        }
      }
      @keyframes swing {
        15% {
          transform: translateX(15px);
        }
        30% {
          transform: translateX(-15px);
        }
        50% {
          transform: translateX(10px);
        }
        65% {
          transform: translateX(-10px);
        }
        80% {
          transform: translateX(5px);
        }
        100% {
          transform: translateX(0);
        }
      }
      &.invalid {
        animation: swing .6s ease-in-out;
        animation-iteration-count: 1;
      }
      &.has-error {
          input {
              color: #8B1224 !important;
              border: 1px solid #8B1224 !important;
          }
          ::-webkit-input-placeholder {
              color: #8B1224;
          }
          .password-icon > img {
              background-color: #A34D53 !important;
          }
      }
    }
  }
  .buttons {
    text-align: center;
    padding-top: 45px;
    button {
      width: 395px;
      font-size: 300%;
      padding: 25px;
      border: none;
      border-radius: 50px;
      &:focus {
          outline: 0 !important;
      }
    }

    /*Start TEST*/
    /*https://codepen.io/jonbrennecke/pen/xbojLg*/
    .rect-btn {
        position: relative;
        cursor: pointer;
        overflow: hidden;
        text-align: center;
        z-index: 0;
        display: inline-block;
        &.raised {
            transition: all 0.1s;
            background: #0c84e4;
            &:active {
                background: #085A94;
            }
        }
        input[type="checkbox"].toggle {
            -webkit-appearance: none;
            position: absolute;
            width: 100%;
            height: 100%;
            margin: 0;
            left: 0;
            top: 0;
            cursor: pointer;
  
            &:focus {
                outline: 0; // Get rid of Chrome's ugly outline on focus
            }
        }
    }
    .anim {
        transform: translateY(-50%) translateX(-50%);
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 2;
        &:before {
            position: relative;
            content: '';
            display: block;
            margin-top: 100%;
        }
        &:after {
            content: '';
            position: absolute;
            top: 0;
            bottom:0;
            left: 0;
            right: 0;
            border-radius: 50%;
        }
    }
    .btn-text {
        position: absolute;
        top: 0;
        left: 0;
        width:100%;
        height:100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        font-size: 200%;
    }
    .clickable {
        .toggle:checked + .anim {
            animation: anim-in 0.75s;
            &:after {
                animation: anim-in-pseudo 0.75s;
            }
        }

        .toggle:not(:checked) + .anim {
            animation: anim-out 0.75s;
            &:after {
                animation: anim-out-pseudo 0.75s;
            }
        }  
    }
    
    @color1: rgba(0,0,0,0.95);
    @color2: rgba(0,0,0,0);

    @-webkit-keyframes anim-in {.anim-in;}
    @keyframes anim-in {.anim-in;}
    @-webkit-keyframes anim-in-pseudo {.anim-in-pseudo;}
    @keyframes anim-in-pseudo {.anim-in-pseudo;}
    @-webkit-keyframes anim-out {.anim-out;}
    @keyframes anim-out {.anim-out;}
    @-webkit-keyframes anim-out-pseudo {.anim-out-pseudo;}
    @keyframes anim-out-pseudo {.anim-out-pseudo;}

    .anim-in {
	    from { width: 0%; }
        to { width: 100%; }
    }
    .anim-in-pseudo {
	    from { background: @color1; }
        to { background: @color2; }
    }
    .anim-out {
	    from { width: 0%; }
        to { width: 100%; }
    }
    .anim-out-pseudo {
	    from { background: @color1; }
        to { background: @color2; }
    }
    /*End TEST*/
  }
  .validation-errors {
    position: relative;
    color: #820000;
    font-size: 200%;
    font-weight: bold;
    display: none;
    text-align: center;
    border: 1px solid #AE797D;
    border-radius: 20px;
    width: @input-width / 2;
    padding: 20px;
    margin: 45px auto 0px auto;

    &.show {
      display: block;
    }

    .error-icon {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 4em;
        display: flex;
        justify-content: center;
        align-items: center;
    }
  }
}
