.logon-container {
  height: 100%;
}
.logon-container .logo-image {
  height: 45%;
  text-align: center;
}
.logon-container .logo-image img {
  padding-top: 10%;
}
.logon-container form.logo-form {
  height: 20%;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.logon-container form.logo-form div.form-control {
  background-color: transparent;
  border: unset;
}
.logon-container form.logo-form div.form-control .password-container {
  position: relative;
  max-width: 700px;
  margin: 0 auto;
  display: block;
}
.logon-container form.logo-form div.form-control .password-container img {
  position: absolute;
  left: 20px;
  top: 24px;
}
.logon-container form.logo-form div.form-control .password-container input {
  font-size: 200%;
  border-radius: 20px;
  background-color: #ededed;
  padding: 20px 20px 20px 60px;
}
@keyframes swing {
  15% {
    transform: translateX(15px);
  }
  30% {
    transform: translateX(-15px);
  }
  50% {
    transform: translateX(10px);
  }
  65% {
    transform: translateX(-10px);
  }
  80% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}
.logon-container form.logo-form div.form-control.invalid {
  animation: swing 0.6s ease-in-out;
  animation-iteration-count: 1;
}
.logon-container .buttons {
  text-align: center;
  padding-top: 95px;
}
.logon-container .buttons button {
  width: 395px;
  font-size: 300%;
  padding: 25px;
  border: none;
  border-radius: 50px;
}
.logon-container .validation-errors {
  color: red;
  font-size: 200%;
  display: none;
  text-align: center;
}
.logon-container .validation-errors.show {
  display: block;
}
/*# sourceMappingURL=logon.component.css.map */