<div class="container-fluid logon-container" [style.backgroundImage]="'url(' + getAsset(page.Background.Value + ')')" [@routerTransition]="">
    <div class="logo-image">
        <img [src]="getAsset(page.Logo.Value)" />
    </div>
    <form [formGroup]="logonForm" class="logo-form">
        <div class="form-control"
             [ngClass]="{invalid: invalidControl == 'user', 'has-error': validationError == this.page.UserNameField.ErrorText.Value}">
            <app-autocomplete [placeholder]="page.UserNameField.Placeholder.Value"
                              formControlName="user"
                              itemTitle="FullName"
                              [dataSource]="'SEARCH_USERS'"
                              [searchPropName]="'FullName'"
                              [iconSrc]="getAsset(page.UserNameField.Image.Value)"
                              [rightIconSrc]="getAsset(page.FingerprintField.Image.Value)"
                              [iconBg]="'#9B9EAB'">
            </app-autocomplete>
        </div>
        <div #passwordContainer class="form-control"
             [ngClass]="{invalid: invalidControl == 'password', 'has-error': validationError == this.page.PasswordField.ErrorText.Value}">
            <div class="password-container" [appInEdit]="getEditorProps('PasswordField', 7)">
                <div class="password-icon">
                    <img [src]="getAsset(page.PasswordField.Image.Value)" />
                </div>
                <input spellcheck="false"
                       class="form-control"
                       type="password"
                       formControlName="password"
                       matInput
                       [matKeyboard]
                       [placeholder]="page.PasswordField.Placeholder.Value"
                       title="" />
            </div>
        </div>
    </form>
    <div class="buttons">
        <button [style.background]="'url(' + getAsset(page.Login.Image.Value) + ')'"
                (click)="login(page.Login.Action)"
                [appInEdit]="getEditorProps('Login', 1)">
            {{page.Login.Text.Value}}
        </button>
    </div>
    <div class="validation-errors" [ngClass]="{show: hasErrors()}">
        <div class="error-icon">
            <img [src]="getAsset(page.ErrorIcon.Value)" />
        </div>
        {{validationError}}
    </div>
</div>
<audio #sound [src]="getAsset('warning.wav')" preload="auto"></audio>
