.notifications {
    position: relative;
    color: #fff;
    margin-right: 25px;

    .icon {
        cursor: pointer;

        > span {
            position: absolute;
            left: 0;
            top: 8px;
            line-height: normal;
            font-size: 26px;
            font-family: Arial;
            width: 100%;
            text-align: center;
        }
    }

    .notifications-tooltip {

        .header {
            padding-bottom: 20px;
            border-bottom: 2px solid #0196C3;

            .msg-count {
                font-family: Arial;
                font-size: 40px;
                font-weight: bold;
                color: white;
                vertical-align: middle;
                margin-left: 40px;
            }
        }
        
        .notifications-list {
            overflow-x: hidden;
            overflow-y: scroll;
            height: 570px;

            .notification-item {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                padding-top: 1px;
                padding-bottom: 15px;
                position: relative;
                border-bottom: 2px solid #0196C3;
                border-top: 2px solid #fff;
                font-family: Arial;
                font-size: 24px;
                line-height: normal;
                min-height: 125px;

                .n-title {
                    color: #fff;
                    padding-right: 30px;
                    padding-top: 3px;
                }

                .n-text {
                    color: #000;
                    padding: 1px 30px 1px 0px;
                }

                .n-date {
                    text-align: right;
                    font-size: 12px;
                    color: #676767;
                    padding-right: 10px;
                    margin-top: auto;
                }

                > img {
                    position: absolute;
                    right: 10px;
                    top: 10px;
                    cursor: pointer;
                }        
            }
        }
    }
}
