﻿<div class="notifications">
    <div class="icon" [popover]="notifyPopover" [outsideClick]="true" placement="bottom" containerClass="notifications-tooltip-in-header">
        <img src="{{ iconPath }}" alt="Notifications" />
        <span [@newNotification]="notificationState">{{ notifications.length }}</span>
    </div>

    <ng-template #notifyPopover>
        <div class="notifications-tooltip">
            <div class="header">
                <img src="{{ iconPath }}" alt="Notifications" />
                <span class="msg-count">{{ notifications.length }} Messages</span>
            </div>
            <div class="notifications-list pill-scrollbar">
                <div class="notification-item" *ngFor="let itm of notifications; trackBy: trackById">
                    <div [innerHtml]="itm.Title" class="n-title"></div>
                    <div [innerHtml]="itm.Text" class="n-text"></div>
                    <div class="n-date">{{ itm.Date | date:'shortTime' }}</div>

                    <img src="{{ removeIconPath }}" alt="Remove" (click)="removeInternal({ event: $event, item: itm})" />
                </div>
            </div>
        </div>
    </ng-template>
</div>