.navi {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 0;
    font-size: 100%;

    .panel {
        width: 82%;

        .personal-area {
            /*overflow: hidden;*/
            padding: 15px 60px 15px 45px;
            background-color: #1DAFEC;
            border-radius: 80px;
            color: #fff;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;

            .user-info {
                flex: 1;
                font-size: 300%;
                font-family: Arial;
                line-height: 1.4;
                border-right: 2px solid #A8E3F8;
            }

            .page-subtitle {
                padding: 3px 70px;
                border-radius: 25px;
                background: #fff;
                color: #008EC3;
                font-weight: bold;
                font-size: 44px;
                font-family: Arial;
                line-height: 1.4;
                margin-right: 50px;
            }

            .indicators {
                padding-top: 10px;
                border-left: 2px solid #1797C1;
                padding-left: 25px;

                > * {
                    display: inline-block;
                }
            }
        }

        .buttons {
            float: right;
            width: 290px;
            margin: 0px 5px;

            > div {
                display: inline-block;
            }
        }
    }

    .breadcrumb-block {
        margin-left: 150px;
    }
}
