﻿<nav class="navi" *ngIf="header">
    <img src="{{ assetsFolderPath + header.Logo.Value}}" alt="Logo" />

    <app-menu (goToPage)="goToPage.emit($event)" [menuItems]="menuItems$ | async"></app-menu>

    <div class="panel">
        <div class="buttons">
            <div (click)="goHome.emit(header.GoHome.Action)">
                <img src="{{ assetsFolderPath + header.GoHome.Image.Value }}" alt="Home" />
            </div>
            <div (click)="refreshPage.emit()">
                <img src="{{ assetsFolderPath + header.RefreshPage.Image.Value }}" alt="Refresh" />
            </div>
            <div (click)="openExitModal(header.Logout.Action)">
                <img src="{{ assetsFolderPath + header.Logout.Image.Value }}" alt="Exit" />
            </div>
        </div>

        <div class="personal-area">
            <span *ngIf="context" class="user-info">
                <span *ngIf="context.currentUser">{{context.currentUser.FullName}}</span>
            </span>
            <div class="indicators">
                <app-notifications [iconPath]="assetsFolderPath + header.Notifications.Image.Value"
                                   [removeIconPath]="assetsFolderPath + header.DeleteNotification.Image.Value"
                                   [notifications]="notifications$ | async"
                                   (remove)="removeNotification.emit($event)"></app-notifications>

                <img src="{{ assetsFolderPath + header.Help.Image.Value }}" alt="Help" />
            </div>
        </div>

    </div>

    <div class="w-100"></div>
    <div class="breadcrumb-block">
        <app-breadcrumb></app-breadcrumb>
    </div>
</nav>