.date-picker {
    color: #6D6E72;
    font-size: 100%;

    .date-picker-container {
        border-radius: 5px;
        padding: 8px 8px 12px 12px;
        background: #FDFDFD;
        box-shadow: -2px 6px 5px 0px rgba(184,180,184,1);
        margin-left: 3px;
        display: inline-block;
    }

    .month, .day, .year {
        display: inline-block;
        margin-right: 5px;
        cursor: pointer;

        .selector {
            display: inline-block;
            color: #828282;
            background: #DEDEDE;
            padding: 8px 14px;
            font-size: 30px;
            border-radius: 4px;
            border: 1px solid #C7C7C7;
            text-align: center;
            vertical-align: top;
            height: 63px;
        }
        img {
            vertical-align: top;
        }
    }
    .month .selector {
        min-width: 194px;
    }
    .year .selector {
        min-width: 104px;
    }
    .day .selector {
        min-width: 64px;
    }

    .dropdown-tooltip {
        list-style: none;
        margin: 0;
        padding: 0;
        max-height: inherit;
        overflow-y: auto;
        li {
            padding: 6px 16px;
            font-size: 18px;
            cursor: pointer;
            &:hover {
                background: #C7C7C7;
            }
        }
    }
}
