﻿<div class="date-picker">
    <div class="date-picker-container">
        <div class="month" [popover]="monthPopover" [outsideClick]="true" placement="bottom" containerClass="date-tooltip" #popM="bs-popover">
            <span class="selector">{{selectedMonthAsStr}}</span>
            <img src="assets/ReturnMeds_DatePicker.png" />
        </div>
        <div class="day" [popover]="dayPopover" [outsideClick]="true" placement="bottom" containerClass="date-tooltip" #popD="bs-popover">
            <span class="selector">{{selectedDay}}</span>
            <img src="assets/ReturnMeds_DatePicker.png" />
        </div>
        <div class="year" [popover]="yearPopover" [outsideClick]="true" placement="bottom" containerClass="date-tooltip" #popY="bs-popover">
            <span class="selector">{{selectedYear ? selectedYear : ' '}}</span>
            <img src="assets/ReturnMeds_DatePicker.png" />
        </div>
    </div>

    <ng-template #monthPopover>
        <ul class="dropdown-tooltip">
            <li *ngFor="let month of months; let i = index" role="button" (click)="selectMonth(i)">{{month}}</li>
        </ul>
    </ng-template>
    <ng-template #dayPopover>
        <ul class="dropdown-tooltip">
            <li *ngFor="let day of days" role="button" (click)="selectDay(day)">{{day}}</li>
        </ul>
    </ng-template>
    <ng-template #yearPopover>
        <ul class="dropdown-tooltip">
            <li *ngFor="let year of years" role="button" (click)="selectYear(year)">{{year}}</li>
        </ul>
    </ng-template>
</div>