@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

html, body {
  height: 100%;
  font-family: Calibri;
}

body {
  margin: 0;
}

p.intro-title {
  text-align: center;
  font-weight: bolder;
  font-size: 450%;
}

p.intro-title h3 {
  font-size: 150%;
  line-height: 0.6;
  margin: 0;
}

/*Modals*/
.exit-modal-dialog {
  max-width: 1100px !important;
}
.exit-modal-dialog .modal-content {
  border-radius: 15px;
}
.maintenance-loading-dialog {
    width: 615px !important;
    max-width: 615px !important;
    height: 674px !important;
}
.maintenance-loading-dialog .modal-content {
    border-radius: 55px;
    height: 100%;
}
.pill-loading-dialog .modal-content {
    border: none !important;
    background-color: transparent;   
}
.modal.fade {
  display: flex !important;
  justify-content: center;
  align-items: center;
}
.legend-tooltip-in-header {
    width: 880px !important;
    max-width: 880px !important;
    background: #EDEDED !important;
}
.legend-tooltip-in-header .arrow::after {
    border-top-color: #EDEDED !important;
}
.date-picker-dialog {
    max-width: 952px !important;
    width: 952px;
}
.date-picker-dialog .modal-content {
    border-radius: 35px;
    background: #F2F2F2;
}

/*Popover*/
.notifications-tooltip-in-header {
    background: #89D1D3;
    width: 550px;
    max-width: 550px;
    height: 700px;
    border: none;
    border-radius: 0.6em;
    padding: 20px 5px 5px 30px;
    box-shadow: 0px 18px 55px 1px #6E6E6E;
}
.notifications-tooltip-in-header .arrow::after {
    border-bottom-color: #89D1D3;
}
.menu-tooltip-in-header {
    left: 0 !important;
    background: #1DAFEC;
    width: 400px;
    max-width: 400px;
    border: none;
    border-radius: 0 0.6em 0.6em 0;
    padding: 10px;
    color: #fff;
    font-size: 24px;
    margin-top: 0 !important;
}
.date-tooltip {
    margin-top: 0 !important;
    max-height: 400px;
}
.date-tooltip .popover-body {
    padding: 0px;
    max-height: inherit;
}
.loa-edit-tooltip {
    background: #3AB549;
    width: 82%;
    max-width: 1560px !important;
    border-radius: 10px;
    border-bottom-right-radius: 0px;
    margin-top: 0 !important;
    padding: 15px;
    border: none;
    left: 366px !important;
    z-index: 1049;
}
.med-legend-tooltip {
    width: 340px;
    max-width: 340px;
}
.menu-tooltip-in-header .arrow::after, .menu-tooltip-in-header .arrow::before,
.date-tooltip .arrow::after, .date-tooltip .arrow::before,
.loa-edit-tooltip .arrow::after, .loa-edit-tooltip .arrow::before {
    border: none !important;
}

/*KEYBOARD*/
.ng-trigger.ng-trigger-state {
    max-width: 1160px !important;
}
.mat-button, .mat-fab, .mat-flat-button, .mat-icon-button, .mat-mini-fab, .mat-raised-button, .mat-stroked-button {
  padding: 10px 6px !important;
  border-radius: 6px !important;
  background: linear-gradient(180deg, #D2D3D5 0%, #F2F2F2 100%) !important;
  color: #6B6C6E !important; /*#A6A6A6*/
}
.mat-keyboard-key-modifier {
  background: linear-gradient(180deg, #B7B8BB 0%, #F2F2F2 100%) !important;
}
.mat-keyboard-wrapper {
  background-color: #A8A9AD !important;
  padding: 8px 6px !important;
  border-radius: 4px 4px 4px 4px !important;
}
.mat-fab:not([class*=mat-elevation-z]), .mat-mini-fab:not([class*=mat-elevation-z]), .mat-raised-button:not([class*=mat-elevation-z]) {
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .6), 1px 2px 2px 0 rgba(0, 0, 0, .3), -1px 1px 5px 0 rgba(0, 0, 0, .3) !important;
}
.mat-button, .mat-fab, .mat-flat-button, .mat-icon-button, .mat-mini-fab, .mat-raised-button, .mat-stroked-button {
  font-size: 18px !important;
}
button.mat-keyboard-key- {
  /*class for Space button*/
  flex-grow: 12 !important;
}
.mat-keyboard-col {
    padding: 6px !important;
}
.mat-keyboard-key-enter {
    padding-right: 10px !important;
    padding-left: 40px !important;
    text-align: right !important;
}
.mat-keyboard-key-enter > span, .mat-keyboard-key-tab > span, .mat-keyboard-key-capslock > span, .mat-keyboard-key-shift > span {
    visibility: hidden;
}
.mat-keyboard-key-enter::after {
    position: absolute;
    bottom: 1px;
    right: 8px;
    content: 'Enter';
    font-size: 14px;
}
.mat-keyboard-key-tab {
    padding-right: 30px !important;
    text-align: left;
}
.mat-keyboard-key-tab::after {
    position: absolute;
    top: 10px;
    left: 8px;
    content: 'Tab';
    font-size: 14px;
}
.mat-keyboard-key-capslock {
    padding-right: 46px !important;
    text-align: left;
}
.mat-keyboard-key-capslock::after {
    position: absolute;
    top: 10px;
    left: 8px;
    content: 'Caps Lock';
    font-size: 14px;
}
.mat-keyboard-key-backspace {
    text-align: right !important;
    padding-right: 8px !important;
    vertical-align: top !important;
}
.mat-keyboard-key-backspace > span > * {
    vertical-align: top !important;
    font-size: 12px;
}
.mat-keyboard-key-backspace::after {
    position: absolute;
    bottom: 1px;
    right: 8px;
    content: 'Delete';
    font-size: 14px;
}
.mat-keyboard-key-shift {
    padding-right: 80px !important;
    text-align: left;
}
.mat-keyboard-key-shift::after {
    position: absolute;
    top: 10px;
    left: 8px;
    content: 'Shift';
    font-size: 14px;
}
button.mat-keyboard-key- {
    /*class for Space button*/
    padding: 0px 390px !important;
}

/*SCROLLBAR*/
.pill-scrollbar {
    overflow-y: auto;
}
.pill-scrollbar::-webkit-scrollbar {
    width: 32px;
    height: 32px;
}
.pill-scrollbar::-webkit-scrollbar-track:vertical {
    background: linear-gradient(to right, transparent 42%,#efefef 46%,#BFC0C2 54%,transparent 58%);
}
.pill-scrollbar::-webkit-scrollbar-thumb:vertical {
    background-image: url('/assets/ICONSCROLLBARS.png');
    background-repeat: no-repeat;
    background-position: 50% 5px;
    border-radius: 12px;
    min-height: 49px;
}
.pill-scrollbar::-webkit-scrollbar-track:horizontal {
    background: linear-gradient(to bottom, transparent 42%,#efefef 46%,#BFC0C2 54%,transparent 58%);
}
.pill-scrollbar::-webkit-scrollbar-thumb:horizontal {
    background-image: url('/assets/ICONSCROLLBARS_H.png');
    background-repeat: no-repeat;
    background-position: 5px 50%;
    border-radius: 12px;
    min-width: 49px;
}
.pill-scrollbar::-webkit-scrollbar-corner {
    display: none;
}

/*LOADING SPINNER*/
ng4-loading-spinner > div.spinner {
  background: rgba(0, 0, 0, 0.6);
  opacity: 1;
}

ng4-loading-spinner > div.spinner > img {
  opacity: 1;
  background: transparent;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 100px;
  height: 100px;
}

/* BUTTONS */
.centered-btn {
    position: relative;
}
.centered-btn.selected {
    font-weight: bold;
}
.centered-btn > div {
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height:100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: Arial;
    text-align: center;
}

/*EDITOR*/
.edit-mode-lt, .edit-mode-rt, .edit-mode-lb, .edit-mode-rb {
    outline: 1px dotted #000;
    background-color: #efefef;
    position: relative;
}
.edit-mode-lt:after {
    position: absolute;
    left: 10px;
    top: 10px;
    content: "edit";
    font-family: 'Material Icons';
    font-size: 24px;
    line-height: 1;
    cursor: pointer;
}
.edit-mode-rt:after {
    position: absolute;
    right: 10px;
    top: 10px;
    content: "edit";
    font-family: 'Material Icons';
    font-size: 24px;
    line-height: 1;
    cursor: pointer;
}
.edit-mode-lb:after {
    position: absolute;
    left: 10px;
    bottom: 10px;
    content: "edit";
    font-family: 'Material Icons';
    font-size: 24px;
    line-height: 1;
    cursor: pointer;
}
.edit-mode-rb:after {
    position: absolute;
    right: 10px;
    bottom: 10px;
    content: "edit";
    font-family: 'Material Icons';
    font-size: 24px;
    line-height: 1;
    cursor: pointer;
}
