.res-switch-page {
    font-size: 100%;
    width: 76%;
    margin-left: 110px;

    .sub-header {
        color: #707174;
        margin: 30px auto;
        text-align: center;
    }

    .buttons {
        display: table;
        text-align: center;
        font-size: 100%;
        margin: 0 auto;
    }

    .separator {
        height: 3px;
        background-image: linear-gradient(to right, #ffffff 0%, #bcbcbc 35%, #bcbcbc 64%, #ffffff 100%);
    }

    .buttons-list-button {
        position: relative;
        display: table-cell;
        vertical-align: middle;
        padding: 30px;
        color: #707175;
        text-shadow: 2px 2px 2px #fff;
        font-size: 200%;

        &:active {
            text-shadow: -1px -1px 2px #000;

            .btn-active-image {
                display: inline-block;
            }
            .btn-image {
                display: none;
            }
        }

        .btn-active-image {
            display: none;
        }

        > div {
            position: absolute;
            top: 0;
            left: 0;
            width:100%;
            height:100%;
            display: flex;
            justify-content: center;
            flex-direction: column;
            font-family: sans-serif;
            text-align: center;
            cursor: pointer;
            user-select: none;
        }
    }
}
