﻿<div class="res-switch-page">
    <app-resident-details *ngIf="context$ | async as context"
                          [currentResident]="context.currentResident"
                          [assetsFolderPath]="assetsFolderPath"
                          [userDetails]="page.UserDetails"
                          (sendEvent)="sendClickEvent($event)"
    ></app-resident-details>
    <div class="separator"></div>
    <h1 class="sub-header">{{page.Subheader?.Value}}</h1>
    <div class="buttons">
        <div class="buttons-list-button" *ngFor="let btn of page.Buttons" (click)="sendClickEvent(btn.Action)">
            <img [src]="getAsset(btn.Image.Value)" class="btn-image" />
            <img [src]="getAsset(btn.ActiveImage.Value)" class="btn-active-image" />
            <div><span [innerHTML]="btn.Text.Value"></span></div>
        </div>
    </div>
</div>