﻿<div class="loa-prn-page container-fluid" *ngIf="context$ | async as context">
    
    <app-resident-details
        [currentResident]="context.currentResident"
        [assetsFolderPath]="assetsFolderPath"
        [userDetails]="page.UserDetails"
    ></app-resident-details>

    <div class="loa-edit-row">
        <img class="picker-icon" src="{{getAsset(page.LoaPicker.Icon.Value)}}" />
        <h1 class="loa-title">{{page.LoaStartLabel?.Value}}</h1>
        <h1 class="loa-value" #pop="bs-popover"
                [popover]="editPopover" [outsideClick]="false" placement="bottom" containerClass="loa-edit-tooltip"
                [isOpen]="loaDateInEdit === 'loaStart'" (onHidden)="onPopoverHidden()" triggers=""
                [popoverContext]="getLoaStart(context.currentResident.LOA)" [ngClass]="{'in-edit': loaDateInEdit === 'loaStart'}">
            {{context.currentResident.LOA?.LoaStart | date:'longDate'}}
        </h1>
        <img class="edit-icon" src="{{getAsset(page.LoaPicker.EditIcon.Value)}}" role="button"
            (click)="loaDateInEdit = (loaDateInEdit === 'loaStart') ? '' : 'loaStart'" />
        <div class="loa-end">
            <h1 class="loa-title">{{page.LoaEndLabel?.Value}}</h1>
            <h1 class="loa-value" #pop="bs-popover"
                    [popover]="editPopover" [outsideClick]="false" placement="bottom" containerClass="loa-edit-tooltip"
                    [isOpen]="loaDateInEdit === 'loaEnd'" (onHidden)="onPopoverHidden()" triggers=""
                    [popoverContext]="getLoaEnd(context.currentResident.LOA)" [ngClass]="{'in-edit': loaDateInEdit === 'loaEnd'}">
                {{context.currentResident.LOA?.LoaEnd | date:'longDate'}}
            </h1>
            <img src="{{getAsset(page.LoaPicker.EditIcon.Value)}}" role="button"
                (click)="loaDateInEdit = (loaDateInEdit === 'loaEnd') ? '' : 'loaEnd'" />
        </div>
    </div>

    <app-medications-grid
            [assetsFolderPath]="assetsFolderPath"
            [medsVM]="page.MedicationList"
            [addToPackageBtn]="page.AddToPackage"
            [dataSource]="meds$ | async"
            (addToPackage)="addToPackage($event)"
    ></app-medications-grid>

    <ng-template #editPopover let-value="value">
        <app-loa-picker-popover [pickerVM]="page.LoaPicker" [isChange]="true"
            [loaDateValue]="value" (updateLoa)="updateLoa($event, context.currentResident)">
        </app-loa-picker-popover>
    </ng-template>
</div>
