.loa-prn-page {
    width: 85%;
    margin: 0 auto;

    .loa-edit-row {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;

        .picker-icon {
            width: 48px;
            height: 48px;
            margin-right: 15px;
        }
        .loa-title {
            font-size: 3rem;
            color: #6D6E72;
        }
        .loa-value {
            font-size: 3rem;
            color: #3CB64C;
            margin-left: 40px;
            padding: 0px 10px;
            &.in-edit {
                color: #fff;
                background: #3AB549;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
            }
        }
        .edit-icon {
            align-self: flex-start;
            margin: 0 30px;
            cursor: pointer;
        }
        .loa-end {
            margin-left: auto;
            > * {
                display: inline-block;
            }
            img {
                vertical-align: baseline;
                margin: 0 30px;
                cursor: pointer;
            }
        }
    }
    .separator {
        height: 3px;
        background-image: linear-gradient(to right, #ffffff 0%, #bcbcbc 35%, #bcbcbc 64%, #ffffff 100%);
        margin-top: 8px;
        margin-bottom: 8px;
    }
}
