@details_margin:    60px;
@details_width:     90%;

.resident-details {
    font-size: 100%;

    > img {
        float: left;
        margin-right: 4px;
        margin-top: 10px;
    }

    .data-wrapper {
        overflow: hidden;
    }

    .name {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
        color: #6D6E71;
        font-family: Arial;
        line-height: normal;

        .resident-name {
            font-size: 400%;
            vertical-align: middle;
            padding-left: 5px;

            > span {
                vertical-align: middle;
            }
        }
        .resident-id {
            font-size: 260%;
        }
    }

    .details-wrapper {
        padding: 0;
        position: relative;

        .details {
            margin: 0px;
            border-radius: 10px;
            padding: 6px 40px 6px 10px;
            color: #252222;
            overflow: hidden;
            background: linear-gradient(to right, #f2f2f2 0%, #c7c7c7 100%);
            font-size: 230%;

            .resident-details {
                float: left;
                span {
                    margin-right: 25px;
                }
                p {
                    margin-top: 5px;
                    margin-bottom: 80px;
                    line-height: 1;
                }
            }
            .resident-actions {
                float: right;
                span {
                    background: #02AEF0;
                    border-radius: 40px;
                    color: #fff;
                    padding: 2px 28px;
                    margin-right: 10px;
                    cursor: pointer;
                }
            }
            .meds-search {
                float: right;

                .search {
                    width: 450px;
                    position: relative;
                    display: block;
                    font-size: 18px;
        
                    img {
                        position: absolute;
                        left: 16px;
                        top: 13px;
                    }
                    .search-textbox {
                        font-size: 200%;
                        border-radius: 12px;
                        background-color: #ededed;
                        padding: 4px 10px 1px 65px;
                    }
                }
            }
        }

        &:after {
            position: absolute;
            content: '';
            left: @details_width;
            top: 100%;
            height: 0;
            width: 0;
            border-width: 18px;
            border-style: solid;
            border-color: #cbcbcb transparent transparent transparent;
            display: block;
        }
    }

    .less-more {
        text-align: right;
        width: @details_width + 5;
        margin: 20px 0px 10px 0px;
        cursor: pointer;
        font-size: 160%;
    }

    .extra-info {
        padding-left: 10px;
        font-size: 220%;
        label {
            color: #4D4E53;
        }
        span {
            color: #929397;
            margin: 0px 8px;
        }
    }
    .separator {
        height: 3px;
        margin-bottom: 16px;
        background-image: linear-gradient(to right, #ffffff 0%, #bcbcbc 35%, #bcbcbc 64%, #ffffff 100%);
    }

}
