﻿<div class="resident-details clearfix" *ngIf="currentResident">
    <img [src]="getAsset(userDetails.Icon.Value)" />
    <div class="data-wrapper">
        <div class="name">
            <span class="resident-name">{{currentResident.FullName}}</span>
            <span class="resident-id">{{userDetails.ResidentId.Value}}:{{ currentResident.PID }}</span>
        </div>
        <div class="separator"></div>
        <div class="extra-info" *ngIf="currentResident.Discharged">
            <label>{{userDetails.Discharged.Value}}</label>
            <span>{{currentResident.Discharged | date:'MMMM d y h:mm'}}</span>
        </div>
        <div class="extra-info" *ngIf="currentResident.LOA">
            <label>{{userDetails.LoaStart.Value}}</label>
            <span>{{currentResident.LOA?.LoaStart | date:'MMMM d y h:mm'}}</span>
            <label>{{userDetails.LoaEnd.Value}}</label>
            <span>{{currentResident.LOA?.LoaEnd | date:'MMMM d y h:mm'}}</span>
        </div>
        <div class="details-wrapper">
            <div class="details clearfix" [@details]="detailsState">
                <div class="resident-details">
                    <span>{{userDetails.Room.Value}}: {{ currentResident.RoomName }}</span>
                    <span>{{userDetails.Sex.Value}}: {{ currentResident.Sex === 77 ? 'Male' : 'Female' }}</span>
                    <span>{{userDetails.Age.Value}}: {{ currentResident.BirthDate | date:'yyyy-MM-dd' }}</span>
                    <p>
                        {{userDetails.Allergies.Value}}: {{ currentResident.Allergies ? currentResident.Allergies.join(", ") : '---' }}
                    </p>
                </div>
                <div class="resident-actions" *ngIf="!searchMode && detailsState === 'opened'">
                    <span (click)="sendEvent.emit(userDetails.Schedule.Action)" role="button" *ngIf="userDetails.Schedule">
                        {{userDetails.Schedule.Text.Value}}
                    </span>
                    <span (click)="sendEvent.emit(userDetails.Profile.Action)" role="button" *ngIf="userDetails.Profile">
                        {{userDetails.Profile.Text.Value}}
                    </span>
                </div>
                <div class="meds-search" *ngIf="searchMode">
                    <form [formGroup]="searchForm" class="search-form">
                        <div class="search">
                            <img [src]="getAsset(userDetails.SearchField.Image.Value)"/>
                            <input class="form-control search-textbox" type="text" spellcheck="false" autocomplete="off" title=""
                                [placeholder]="userDetails.SearchField.Placeholder.Value"
                                formControlName="query"
                                matInput
                                [matKeyboard]="'en-only'"
                            />
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="less-more" *ngIf="!searchMode">
            <span (click)="toggleDetailsState()">
                {{ detailsState == 'closed' ? userDetails.ToggleDetails.Text.Value : userDetails.ToggleDetails.UncheckedText.Value }}
            </span>
        </div>
    </div>
</div>
