<div class="input-editor">
    <table style="width: 100%" cellpadding="3">
        <tbody>
            <tr *ngIf="control.Placeholder">
                <td valign="top">Placeholder: </td>
                <td>
                    <input [(ngModel)]="control.Placeholder.Value" class="form-control" style="width: 100%" />
                </td>
            </tr>
            <tr *ngIf="control.ValidationPattern">
                <td valign="top">ValidationPattern: </td>
                <td>
                    <input [(ngModel)]="control.ValidationPattern.Value" class="form-control" style="width: 100%" />
                </td>
            </tr>
            <tr *ngIf="control.ErrorText">
                <td valign="top">ErrorText: </td>
                <td>
                    <input [(ngModel)]="control.ErrorText.Value" class="form-control" style="width: 100%" />
                </td>
            </tr>
            <tr *ngIf="control.Image">
                <td valign="top">Image: </td>
                <td>
                    <input [(ngModel)]="control.Image.Value" class="form-control" style="width: 100%" />
                </td>
            </tr>
            <tr *ngIf="control.ActiveImage">
                <td valign="top">Active Image: </td>
                <td>
                    <input [(ngModel)]="control.ActiveImage.Value" class="form-control" style="width: 100%" />
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr><td colspan="2">
                    <app-actions-block (saveForm)="saveForm()"
                                       (cancel)="cancel()"></app-actions-block>
            </td></tr>
        </tfoot>
    </table>
</div>
