.return-meds-page {
    font-size: 100%;
    
    .resident-details {
        width: 76%;
        margin-left: 110px;
    }
    .sub-page-1, .sub-page-2, .sub-page-3 {
        width: 86%;
        margin-left: 110px;
    }

    .sub-page-2 {
        .actions {
            text-align: right;
        }
    }

    .sub-page-3 {
        padding: 14px 24px;
        margin-top: 1px;
        .confirm-data {
            background: #F9F9F9;
            padding: 0px 16px;
            height: 480px;
        }
        .page3_header {
            padding-left: 54px;
            margin-top: 22px;
        }
        .controlled_header {
            color: #740000;
        }
        .return_header {
            color: #00ACF1;
        }
        .return_btn {
            display: block;
            text-align: center;
            margin: 2px auto;
        }
    }

    .sub-header {
        color: #707174;
        margin: 30px auto;
        text-align: center;
        font-size: 46px;
    }

    .buttons {
        margin: 0 auto;
    }

    .separator {
        height: 3px;
        background-image: linear-gradient(to right, #ffffff 0%, #bcbcbc 35%, #bcbcbc 64%, #ffffff 100%);
    }

    .select-date-button {
        color: #AEAEAE;
        font-size: 32px;
        text-align: right;
        cursor: pointer;
        display: block;
    }

    .return-med-form {
        margin: 5px 0px;

        .admin-row {
            color: #000;
            padding-top: 6px;
            line-height: normal;
            h1 {
                margin-bottom: 0;
                display: inline-block;
                vertical-align: middle;
            }
            .admin-date {
                margin-right: 260px;
            }
            .at-label {
                margin-right: 30px;
            }
            ul {
                list-style: none;
                padding: 0;
                margin: 0;
                vertical-align: middle;
                display: inline-block;
                li {
                    font-size: 2.5rem;
                    color: #878787;
                    padding: 0px 30px;
                    float: left;
                    cursor: pointer;
                    &.selected {
                        color: #000;
                        background: #BCE9E5;
                    }
                }
                label {
                    margin-bottom: 0;
                }
                input {
                    display: none;
                }
            }
        }

        .data-row {
            padding: 20px 0px 30px 0px;

            .inputs {
                float: left;

                > * {
                    display: inline-block;
                    margin-right: 20px;
                }
            }
            .add-row, .remove-row {
                cursor: pointer;
                margin: 15px;
                vertical-align: middle;
            }
            .control {
                width: 98px;
            }
        }
    }
}

.selection-format {
    margin-top: 5px;

    > * {
        vertical-align: middle;
        float: left;
    }
    .image {
        max-width: 110px;
        max-height: 70px;
        padding-right: 5px;
    }
    .quantity {
        width: 134px;
        margin: 0px 12px;
        color: #000;
        box-shadow: 0px 2px 1px 0px #fff;
        border-radius: 6px;
        border: 1px solid #D1D1D1;
        background: #DEDEDE;
        input, button {
            text-align: center;
            border: none;
            background: transparent;
            border-radius: 6px;
        }
        input {
            width: 54px;
            user-select: none;
        }
        button {
            cursor: pointer;
        }
    }
    .name {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        width: 420px;
        padding: 0px 10px;
    }
    .separator {
        height: 100%;
        width: 1px;
        background: #C8C8C8;
    }
    .control {
        float: right;
        color: #800000;
        margin-top: 20px;
    }
}
.item-format {
    > * {
        vertical-align: middle;
    }
    &:active {
        background: #BCE8E5;
    }
    .image {
        width: 110px;
        max-height: 70px;
    }
    .quantity {
        width: 52px;
        text-align: center;
        display: inline-table;
    }
    .name {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        width: 540px;
        display: inline-block;
    }
    .separator {
        height: 100%;
        width: 1px;
        background: #C8C8C8;
        margin: 0 10px;
        display: inline-block;
    }
    .admin-time {
        text-align: center;
        width: 102px;
        display: inline-block;
    }
    .control {
        width: 98px;
    }
}
.confirm-item {
    font-size: 34px;
    color: #000;
    margin-bottom: 16px;
    .packaged-at {
        color: #7C7C7C;
        margin-left: 54px;
        margin-top: 12px;
    }
    .static-icon {
        float: left;
        margin-right: 16px;
        margin-top: 24px;
    }
    .med-container {
        border-radius: 12px;
        border: 1px solid #D1D1D1;
        width: 92%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        padding: 6px 16px;
        align-items: center;
    }
    .med-image {
        width: 110px;
        height: auto;
    }
    .quantity {
        width: 88px;
        text-align: center;
    }
    .med-name {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        max-width: 52%;
    }
    .control {
        margin-left: auto;
    }
    .sig, .quantity {
        border-left: 1px solid #C8C8C8;
        border-right: 1px solid #C8C8C8;
        padding: 0 10px;
        margin: 0 10px;
    }
}
