﻿<div class="return-meds-page">
    <div class="resident-details">
        <app-resident-details *ngIf="context$ | async as context"
            [currentResident]="context.currentResident"
            [assetsFolderPath]="assetsFolderPath"
            [userDetails]="page.UserDetails"
            (sendEvent)="sendClickEvent($event)"
        ></app-resident-details>
        <div class="separator"></div>
    </div>
    
    <div class="sub-page-1" *ngIf="selectedDate === undefined && !confirmationState">
        <h1 class="sub-header" [innerHTML]="page.Header?.Value"></h1>
        <div class="buttons">
            <app-multi-buttons [buttons]="page.Buttons" [assetsFolderPath]="assetsFolderPath" (clickHandler)="selectDate($event)"></app-multi-buttons>
        </div>
        <div class="select-date-button">
            <span (click)="selectDate()" role="button">{{page.SelectDate?.Text?.Value}}</span>
        </div>
    </div>

    <div class="sub-page-2" *ngIf="selectedDate && !confirmationState">
        <div class="return-med-form">
            <form [formGroup]="returnForm">
                <div formArrayName="medRows" *ngFor="let item of ROWS; let i = index; let last = last">
                    <div [formGroupName]="i">
                        <div class="admin-row clearfix">
                            <h1 class="admin-date" [ngClass]="{'invisible': i > 0 && ROWS[i - 1].get('adminDate').value === ROWS[i].get('adminDate').value}">
                                {{ROWS[i].get('adminDate').value | date: 'd MMMM'}}
                            </h1>
                            <h1 class="at-label">{{page.AdminTimeLabel?.Value}}:&nbsp;</h1>
                            <ul class="clearfix" *ngIf="ROWS[i].get('medication').value === null">
                                <li role="button" *ngFor="let at of adminTimes; let ati = index"
                                        [ngClass]="{'selected': at.UId === ROWS[i].get('adminTime').value}">
                                    <label for="{{'admintime_' + i + '_' + ati}}">{{at.Name}}</label>
                                    <input type="radio" id="{{'admintime_' + i + '_' + ati}}" [value]="at.UId" formControlName="adminTime" />
                                </li>
                            </ul>
                            <h1 *ngIf="ROWS[i].get('medication').value" class="admin-time-selected-item">{{getAdminTimeText(ROWS[i].get('adminTime').value)}}</h1>
                        </div>
                        <div class="data-row clearfix">
                            <div class="inputs">
                                <app-autocomplete [placeholder]="page.SearchMeds.Placeholder.Value"
                                    formControlName="medication"
                                    itemTitle="MedicationName"
                                    [dataSource]="meds"
                                    [searchPropName]="'MedicationName'"
                                    [showDropdownButton]="true"
                                    [width]="'940px'"
                                    [itemTemplate]="medItemTemplate"
                                    [formatTemplate]="selectedMedTemplate"
                                    [pageSize]=0
                                    [externalFilters]="{'AdminTimeId': ROWS[i].get('adminTime').value}">
                                </app-autocomplete>
                                <app-autocomplete [placeholder]="page.SelectReason.Placeholder.Value"
                                    formControlName="reason"
                                    itemTitle="Name"
                                    [dataSource]="reasons"
                                    [searchPropName]="'Name'"
                                    [showDropdownButton]="true"
                                    [width]="'530px'"
                                    [pageSize]=0>
                                </app-autocomplete>
                            </div>
                            <img [src]="getAsset(page.AddRow.Value)" class="add-row" (click)="addMedRow()" role="button" *ngIf="last" />
                            <img [src]="getAsset(page.RemoveRow.Value)" class="remove-row" (click)="removeMedRow()" role="button" *ngIf="!last" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <!-- <span>{{returnForm.value | json}}</span> -->
        <div class="actions">
            <app-image-button [btn]="page.Next" [assetsFolderPath]="assetsFolderPath"
                (onClick)="goToSubPage3()" [style]="{'font-size': '24px'}" [disabled]="!returnForm.valid"></app-image-button>
        </div>
    </div>

    <div class="sub-page-3" *ngIf="confirmationState">
        <div class="confirm-data pill-scrollbar">
            <div class="page3_header" *ngIf="selectedMeds?.ControlledBin?.length">
                <h1 class="controlled_header">{{page.PlaceMedsInControlled.Value}}</h1>
                <div class="separator"></div>
            </div>
            <div *ngIf="selectedMeds?.ControlledBin?.length">
                <div *ngFor="let cb of selectedMeds?.ControlledBin" class="confirm-item clearfix">
                    <ng-container *ngTemplateOutlet="confirmItemTemplate; context: {$implicit: cb.medication}"></ng-container>
                </div>
                <div class="separator"></div>
            </div>
            <div class="page3_header" *ngIf="selectedMeds?.ReturnBin?.length">
                <h1 class="return_header">{{page.PlaceMedsInReturn.Value}}</h1>
                <div class="separator"></div>
            </div>
            <div *ngIf="selectedMeds?.ReturnBin?.length">
                <div *ngFor="let rb of selectedMeds?.ReturnBin" class="confirm-item clearfix">
                    <ng-container *ngTemplateOutlet="confirmItemTemplate; context: {$implicit: rb.medication}"></ng-container>
                </div>
            </div>
        </div>
        <div class="return_btn">
            <app-image-button [btn]="page.ReturnToBin" [assetsFolderPath]="assetsFolderPath"
                (onClick)="sendClickEvent($event)" [style]="{'font-size': '24px', 'color': '#780000'}"></app-image-button>
        </div>
    </div>
</div>

<ng-template #selectedMedTemplate let-item>
    <div class="selection-format clearfix">
        <img  class="image" [src]="getAsset(item.ImageSrc || 'img_404.png')" />
        <span class="separator">&nbsp;</span>
        <span class="quantity">
            <button (click)="item.Quantity = item.Quantity - 1">-</button>
            <input type="text" [value]="item.Quantity" />
            <button (click)="item.Quantity = item.Quantity + 1">+</button>
        </span>
        <span class="separator">&nbsp;</span>
        <span class="name">{{item.MedicationName}}</span>
        <img  class="control" [src]="getAsset(page.ControlledMedIcon?.Value)" [ngClass]="{'invisible': !item.IsControlledMed}" />
    </div>
</ng-template>
<ng-template #medItemTemplate let-item let-text="text" let-selection="selection">
    <div class="item-format clearfix">
        <img  class="image" [src]="getAsset(item.ImageSrc || 'img_404.png')" />
        <span class="separator">&nbsp;</span>
        <span class="quantity">{{item.Quantity}}</span>
        <span class="separator">&nbsp;</span>
        <span class="name">{{item.MedicationName}}</span>
        <span class="separator">&nbsp;</span>
        <span class="admin-time">{{item.AdminTimeName}}</span>
        <span class="separator">&nbsp;</span>
        <img  class="control" [src]="getAsset(page.ControlledMedIcon?.Value)" [ngClass]="{'invisible': !item.IsControlledMed}" />
    </div>
</ng-template>
<ng-template #confirmItemTemplate let-item>
    <h3 class="packaged-at">{{page.PackagedAt.Value}} {{item.PackagedAt | date:'medium'}}</h3>
    <img [src]="getAsset(page.ConfirmSelectionIcon?.Value)" class="static-icon" />
    <div class="med-container">
        <img  class="image" [src]="getAsset(item.ImageSrc || 'img_404.png')" class="med-image" />
        <div class="quantity">{{item.Quantity}}</div>
        <div class="med-name">{{item.MedicationName}}</div>
        <img [src]="getAsset(page.ControlledMedIcon?.Value)" [ngClass]="{'invisible': !item.IsControlledMed}" class="control"/>
        <div class="sig">{{item.SigDescription}}</div>
    </div>
</ng-template>