﻿<div class="multi-buttons">
    
    <div class="buttons-list-button" *ngFor="let btn of buttons" (click)="clickHandler.emit(btn.Action)">
        <img [src]="getAsset(btn.Image.Value)" class="btn-image" />
        <img [src]="getAsset(btn.ActiveImage.Value)" class="btn-active-image" />
        <div><span [innerHTML]="btn.Text.Value"></span></div>
    </div>

</div>