.multi-buttons {
    text-align: center;
    font-size: 100%;
    margin: 0 auto;

    .buttons-list-button {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        padding: 30px;
        color: #707175;
        text-shadow: 2px 2px 2px #fff;
        font-size: 200%;

        &:active {
            text-shadow: -1px -1px 2px #000;

            .btn-active-image {
                display: inline-block;
            }
            .btn-image {
                display: none;
            }
        }

        .btn-active-image {
            display: none;
        }

        > div {
            position: absolute;
            top: 0;
            left: 0;
            width:100%;
            height:100%;
            display: flex;
            justify-content: center;
            flex-direction: column;
            font-family: sans-serif;
            text-align: center;
            cursor: pointer;
            user-select: none;
        }

        &:nth-child(1):active {
            color: #00ABE4;
        }
        &:nth-child(2):active {
            color: #CD0000;
        }
        &:nth-child(3):active {
            color: #B64FC7;
        }
        &:nth-child(4):active {
            color: #34B448;
        }
        &:nth-child(5):active {
            color: #F68F00;
        }
        &:nth-child(6):active {
            color: #006DB5;
        }
    }
}
