<div class="text-editor">
    <table style="width: 100%">
        <tbody>
            <tr *ngFor="let mediaItm of control">
                <td>
                    <input [(ngModel)]="mediaItm.Source" class="form-control" />
                </td>
                <td>
                    {{ mediaItm.MediaType }}
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="2">
                    <app-actions-block (saveForm)="saveForm()"
                                       (cancel)="cancel()"></app-actions-block>
                </td>
            </tr>
        </tfoot>
    </table>
</div>
