<div style="width: 100%; text-align: right; margin-top: 10px;">
    <button (click)="saveForm.emit()" type="button" class="btn btn-light">Save</button>
    <button (click)="cancel.emit()" type="button" class="btn btn-light">Cancel</button>
</div>