﻿<div class="prn-dispense">
    
    <div class="prn-button" (click)="prepare()">
        <img src="{{ assetsFolderPath + page.Dispense.Image.Value }}" />
        <div><span [innerHTML]="page.Dispense.Text.Value"></span></div>
    </div>

</div>