.prn-dispense {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 100%;

    .add-more {
        font-size: 400%;
        font-family: Arial;
        color: #6D6E71;
        padding: 40px 0px;
        cursor: pointer;
    }

    .prn-button {
        position: relative;
        display: inline-block;
        cursor: pointer;
        font-size: 400%;
        color: #850011;

        > div {
            position: absolute;
            top: 0;
            left: 0;
            width:100%;
            height:100%;
            display: flex;
            justify-content: center;
            flex-direction: column;
            font-family: Arial;
            text-align: center;
        }
    }
}
