:host-context(.has-error) .autocomplete-textbox {
    color: #8B1224 !important;
    border: 1px solid #8B1224 !important;
}
:host-context(.has-error) ::-webkit-input-placeholder {
    color: #8B1224;
}
:host-context(.has-error) .control-icon > img {
    background-color: #A34D53 !important;
}

@input-width: 50em;
.autocomplete-container {
  position: relative;
  width: @input-width;
  margin: 0 auto;
  display: block;
  &.no-zoom {
      font-size: 100%;
  }
  &.zoom1 {
      font-size: 160%;
      font-weight: bold;
  }
  &.zoom2 {
      font-size: 76%;
      display: inline-block;
  }
  &.zoom3 {
    font-size: 40%;
  }
  &.zoom4 {
      font-size: 70%;
  }
  .control-icon {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      width: 4em;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .control-right-icon {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      width: 7em;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .autocomplete-textbox {
    font-size: 2.6em;
    border-radius: 20px;
    background-color: #ededed;
    padding: 22px 3em 22px 1.5em;
    line-height: normal;
    border: 1px solid #B1B1B1;
    box-shadow: inset 3px 3px 0px 1px rgba(222,222,222,1);
  }
  .format-selection {
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height:100%;
    padding: 0.3em 2em 0.3em 0.5em;
    font-size: 2.6em;
    border: none;
    background: transparent;
    .format-selection-inner {
        background-color: #ededed;
        height: 100%;
        display: inline-block;
        vertical-align: middle;
    }
    .clear-selection {
        font-size: 28px;
        color: #000;
        font-family: Arial, Helvetica, sans-serif;
        display: inline-block;
        vertical-align: middle;
        margin-left: 15px;
        cursor: pointer;
    }
  }
  @triangle-width: 40px;
  @triangle-height: 35px;
  .dropdown-opener {
    position: absolute;
    right: 25px;
    top: 38%;
    width: 0;
    height: 0;
    border-left: @triangle-width/2 solid transparent;
    border-right: @triangle-width/2 solid transparent;
    border-top: @triangle-height solid #000;
    cursor: pointer;
  }
  .dropdown-closer {
    position: absolute;
    right: 25px;
    top: 38%;
    width: 0;
    height: 0;
    border-left: @triangle-width/2 solid transparent;
    border-right: @triangle-width/2 solid transparent;
    border-bottom: @triangle-height solid #000;
    cursor: pointer;
  }
  .autocomplete-dropdown {
    position: absolute;
    top: 100%;
    z-index: 1;
    width: 100%;
    text-align: left;
    background-color: #F1F1F1;
    border-radius: 10px;
    border: 1px solid #A7A9AC;
    font-size: 200%;
    max-height: 400px;
    /*overflow-y: scroll;*/
    overflow: hidden;
    .dropdown-itm {
        color: #6D6E71;
        display: block;
        width: 100%;
        padding: .25rem 1.5rem;
        clear: both;
        font-weight: 400;
        text-align: inherit;
        white-space: nowrap;
        background-color: transparent;
        border: 0;
        cursor: pointer;
    }
    .active {
      background-color: #c5c5c5;
    }
  }

  .items-wrapper {
      overflow-y: auto;
      max-height: 400px;
      margin-right: 5px;
  }
}
