<div #container>
  <div class="autocomplete-container" [ngClass]="zoom" [style.width]="width">
    <div class="control-icon" *ngIf="iconSrc">
        <img [src]="iconSrc" [style.backgroundColor]="iconBg" />
    </div>
    <input
      #searchBox
      class="form-control autocomplete-textbox"
      type="text"
      matInput
      [placeholder]="placeholder"
      [formControl]="inputControl"
      [matKeyboard]="'en-only'"
      (blur)="hideDropdown()"
      (focus)="focusDropdown()"
      (enterClick)="enterClick()"
      (arrowUpClick)="arrowUp()"
      (arrowDownClick)="arrowDown()"
      (arrowRightClick)="arrowRight()"
      (arrowLeftClick)="arrowLeft()"
      spellcheck="false"
      autocomplete="off"
      title=""/>
    <div class="format-selection" *ngIf="formatTemplate && selectedItem">
      <div class="format-selection-inner">
        <ng-container *ngTemplateOutlet="formatTemplate; context: {$implicit: selectedItem}">
        </ng-container>
      </div>
      <span class="clear-selection" (click)="clearSelection()">x</span>
    </div>
    <a [ngClass]="{'dropdown-opener': !openDropdown, 'dropdown-closer': openDropdown}" *ngIf="showDropdownButton" (click)="openDropdown = !openDropdown"></a>
    <div class="control-right-icon" *ngIf="rightIconSrc">
        <img [src]="rightIconSrc" />
    </div>
    <div *ngIf="openDropdown && (filteredItems || []).length" class="autocomplete-dropdown">
     <div #results class="items-wrapper pill-scrollbar" (scroll)="loadMore($event)">
      <div #dropdownItem class="dropdown-itm" *ngFor="let filteredItem of filteredItems; trackBy: trackById; let i = index;" [ngClass]="{'active': i == activeElement}" (click)="selectItem(filteredItem)">
        <ng-container
          *ngTemplateOutlet="itemTemplate ? itemTemplate : defaultTemplate; context: {$implicit: filteredItem, text: getText(filteredItem), selection: searchBox.value}">
        </ng-container>
      </div>
     </div>
    </div>
  </div>
</div>
<ng-template #defaultTemplate let-item let-text="text" let-selection="selection">
  <highlight [text]="text" [selection]="selection"></highlight>
</ng-template>
