<div class="text-editor">
    <table style="width: 100%" cellpadding="3">
        <tbody>
            <tr>
                <td valign="top">Action: </td>
                <td>
                    <input [(ngModel)]="control.Action" class="form-control" rows="3" style="width: 100%" disabled />
                </td>
            </tr>
            <tr>
                <td valign="top">Text: </td>
                <td>
                    <input [(ngModel)]="control.Text.Value" class="form-control" style="width: 100%" />
                </td>
            </tr>
            <tr>
                <td valign="top">Image: </td>
                <td>
                    <input [(ngModel)]="control.Image.Value" class="form-control" style="width: 100%" />
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr><td colspan="2">
                    <app-actions-block (saveForm)="saveForm()"
                                       (cancel)="cancel()"></app-actions-block>
            </td></tr>
        </tfoot>
    </table>
</div>
