.intro-page {
    background-color: #000;
    color: #fff;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    p {
        text-align: center;
        font-weight: bolder;
        &.intro-title {
            font-size: 450%;
            h3 {
                display: block;
                font-size: 600%;
                line-height: 0.6;
                margin: 0;
            }
        }
    }
}