.intro-page {
  background-color: #000;
  color: #fff;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.intro-page p {
  text-align: center;
  font-weight: bolder;
}
.intro-page p.intro-title {
  font-size: 450%;
}
.intro-page p.intro-title h3 {
  display: block;
  font-size: 600%;
  line-height: 0.6;
  margin: 0;
}
