:host {
    position: fixed;
    left: auto;
    top: 18%;
    right: 0;
    width: 850px;
    height: 65%;
    min-width: 550px;
    z-index: 99;
    font-size: 100%;
}

.cart.closed {
    .header {
        transition: width 0.7s ease-in-out 0.1s;
        width: 250px;
    }
    .content {
        transition: width 0.2s ease-in-out 0.2s;
        width: 70%;
    }
}

.cart {
    color: #fff;
    height: 100%;

    .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background: #FF9F00;
        padding: 0px 10px 0px 40px;
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
        width: 100%;
        transition: width 0.7s ease-in-out 0.7s;

        > span {
            font-family: Arial;
            font-size: 62px;
        }
    }

    .content {
        float: right;
        background: #FF9F00;
        width: 90%;
        height: 100%;
        padding: 0px 3px 3px 20px;
        border-bottom-left-radius: 25px;
        transition: width 0.7s ease-in-out 0.7s;

        .delimiter {
            width: 90%;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 5px;
            height: 2px;
            background: #fff;
        }

        .resident-list {
            height: 90%;
            overflow-y: scroll;

            .resident {
                color: #000;
                clear: both;
                margin-bottom: 30px;

                > span {
                    font-size: 300%;
                    vertical-align: middle;
                }
                > img {
                    vertical-align: middle;
                }
                > h2 {
                    font-size: 300%;
                    float: right;
                    padding-top: 8px;
                }
                .status-icon {
                    float: right;
                    margin: 15px;
                }

                .medications {
                    /*margin-left: 40px;*/
                    font-size: 200%;
                    border-top: 1px solid #fff;

                    .medications-list {
                        overflow: hidden;
                        clear: right;
                        /*padding-left: 10px;*/
                        padding-right: 5px;
                        margin-bottom: 10px;

                        > div {
                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;
                            align-items: center;
                            line-height: normal;
                        }
                    }
                    > img {
                        float: left;
                        /*width: 60px;*/
                        margin-top: 10px;
                        margin-right: 10px;
                    }
                }

                .buttons {
                    margin: 15px 0px 15px 40px;

                    .btn {
                        background: #fff;
                        padding: 1px 40px;
                        border-radius: 50px;
                        color: #6e6e6e;
                        font-size: 200%;
                        font-weight: bold;
                        margin-right: 8px;
                        line-height: normal;
                    }
                }
            }

        }
    }
}
