﻿<div class="cart" [ngClass]="{'closed': isClosed}" *ngIf="cartVM">
    <div class="header">
        <img src="{{ assetsFolderPath + cartVM.Icon.Value }}" alt="" (click)="toggle.emit()" />
        <span>+{{ medTotalCount }}</span>
    </div>
    <div class="content">
        <div class="delimiter"></div>
        
        <div class="resident-list pill-scrollbar">
            <div class="resident" *ngFor="let elem of cartItems">
                <img [src]="assetsFolderPath + cartVM.Remove.Value"
                     [ngClass]="{'invisible': elem.Status == 7 || elem.Items.length > 1}"
                     (click)="removeMedication.emit({ residentId: elem.Patient.UId, packageId: elem.Items[0].PackageId, created: elem.Items[0].Created })" />
                <img src="{{ assetsFolderPath + cartVM.ResidentIcon.Value }}" />
                <span>{{ elem.Patient.FullName }}</span>
                <h2>+{{ elem.Total }}</h2>
                <img src="{{ assetsFolderPath + cartVM.InBasket.Value }}" *ngIf="elem.Status == null" class="status-icon" />
                <img src="{{ assetsFolderPath + cartVM.InQueue.Value }}" *ngIf="elem.Status != null && elem.Status === 0" class="status-icon" />
                <img src="{{ assetsFolderPath + cartVM.InPackaging.Value }}" *ngIf="elem.Status != null && elem.Status === 7" class="status-icon" />

                <div *ngFor="let itm of elem.Items">
                    <div class="medications">
                        <img [src]="assetsFolderPath + cartVM.Remove.Value"
                             [ngClass]="{'invisible': elem.Status == 7 || elem.Items.length < 2}"
                             (click)="removeMedication.emit({ residentId: elem.Patient.UId, packageId: itm.PackageId, created: itm.Created })" />
                        <img src="{{ assetsFolderPath + cartVM.MedicationIcon.Value }}" />
                        <div class="medications-list">
                            <div *ngFor="let med of itm.Items">
                                <span>{{ med.MedicationName }}</span>
                                <img src="{{ assetsFolderPath + cartVM.RemoveMedicationIcon.Value }}"
                                     *ngIf="elem.Status !== 7"
                                     (click)="removeMedication.emit({ residentId: elem.Patient.UId, medsId: med.MedicationId, packageId: itm.PackageId, packageItemId: med.ItemId })" />
                            </div>
                        </div>
                        <div style="clear: both; height: 0;"></div>
                    </div>

                    <div class="buttons" *ngIf="itm.PackageId == null">
                        <div class="btn" [innerHtml]="cartVM.Dispense.Text.Value" (click)="dispense.emit({ cartVM: cartVM, residentId: elem.Patient.UId, created: itm.Created })"></div>
                    </div>
                </div>
            </div>
        </div>
               
    </div>
</div>
