﻿<div class="loa-return-page container-fluid" *ngIf="context$ | async as context">
    
    <app-resident-details
        [currentResident]="context.currentResident"
        [assetsFolderPath]="assetsFolderPath"
        [userDetails]="page.UserDetails"
    ></app-resident-details>

    <div class="separator"></div>
    <form [formGroup]="returnForm">
        <div class="loa-start-row" *ngIf="currentPatient">
            <img class="picker-icon" src="{{getAsset(page.LoaPicker.Icon.Value)}}" />
            <h1 class="loa-start-title">{{page.LoaStartLabel?.Value}}</h1>
            <h1 class="loa-start-value">{{currentPatient.LOA?.LoaStart | date:'longDate'}}</h1>
        </div>
        <div class="separator"></div>
        <div class="loa-end-row">
            <div class="picker-icon">
                <img src="{{getAsset(page.LoaPicker.Icon.Value)}}" />
            </div>
            <div class="picker">
                <h1 class="picker-title">{{page.LoaEndLabel?.Value}}</h1>
                <div>
                    <app-loa-picker formControlName="loaEnd"
                        [pickerVM]="page.LoaPicker" [adminTimes]="adminTimes | async"></app-loa-picker>
                </div>
            </div>
        </div>
        <div class="separator"></div>
        <table class="q-table">
            <tr>
                <td style="width: 440px">
                    <h1 class="q-title">{{page.Question?.Value}}</h1>
                    <h3 class="q-descr">{{page.QuestionDescription?.Value}}</h3>
                </td>
                <td class="toggle-cell">
                    <app-yes-no-ctrl formControlName="returnMeds"
                        [toggle]="page.ReturnMedicationToggle" [assetsFolderPath]="assetsFolderPath">
                    </app-yes-no-ctrl>
                </td>
            </tr>
        </table>
        <div class="actions">
            <app-image-button [btn]="page.Return" [assetsFolderPath]="assetsFolderPath"
                [disabled]="!returnForm.valid" (onClick)="returnFromLoa($event)"
                [style]="{'color': '#fff', 'font-size': '28px'}"></app-image-button>
        </div>
    </form>
</div>
