.loa-return-page {
    width: 85%;
    margin: 0 auto;

    .loa-start-row {
        .picker-icon {
            width: 48px;
            height: 48px;
            margin-right: 10px;
            vertical-align: middle;
        }
        .loa-start-title {
            color: #6D6E72;
            display: inline;
            vertical-align: middle;
            font-size: 3rem;
            margin-right: 60px;
        }
        .loa-start-value {
            color: #B3B3B3;
            display: inline;
            vertical-align: middle;
            font-size: 3rem;
        }
    }
    .actions {
        text-align: right;
    }

    .separator {
        height: 3px;
        background-image: linear-gradient(to right, #ffffff 0%, #bcbcbc 35%, #bcbcbc 64%, #ffffff 100%);
        margin-top: 12px;
        margin-bottom: 12px;
    }

    .loa-end-row {
        .picker-icon {
            float: left;
            width: 48px;
            height: 48px;
            margin-right: 15px;
        }
        .picker {
            overflow: hidden;
            .picker-title {
                font-size: 3rem;
                color: #6D6E72;
            }
        }
    }

    .q-table {
        margin-left: 64px;
        .q-title {
            color: #727272;
        }
        .q-descr {
            color: #909090;
        }
        .toggle-cell {
            width: 340px;
            text-align: right;
            vertical-align: top;
            padding-top: 6px;
        }
    }
}
