/* You can add global styles to this file, and also import other style files */
html,body{
  background-color: #e5e5e5;
}

.auto-complete-input{
  color: red;
}
.completer-input{
  width: 100%;
  padding-left: 35px;
}

.completer-dropdown{
  position: relative !important;
  width: 100% !important;
  overflow-x: hidden;
}
.completer-row{
  width: 100%;
}
.search-user-div{
  margin-bottom: 0 !important;
  background-color: #c8c8c8;
}

.reset-password-btn{
  position: absolute;
  bottom:   0;
  background-color: #c8c8c8; /* Green */
  border: none;
  color: darkred;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
}



.top-page-info{
  margin-left: 16%;
}

.inner-addon {
  position: relative;
}

/* style icon */
.inner-addon .fa {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}


.left-addon .fa  { left:  0px;}
.right-addon .fa { right: 0px;}

.error-msg{
  color: darkred;
  border-color: darkred;
  border-style: solid;
  margin: 10px;
  padding: 10px;
}

.verification-head{
  color: cornflowerblue;
}

.verification-head-links{
  color: #6f6f6f;
}


.verification-input{
  background-color: #e5e5e5;
}

.send-code-btn{
  border: none;
  color: cornflowerblue;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
}


.matched-text{
  font-weight: bold;
}

.close-corner-btn{
  border: 0;
  background: 0 0;
  color: #2d2d2d;
  position: absolute;
  top: 8px;
  right: 8px;
  font-size: 1.2em;
  cursor: pointer;
}

button > img{
  display: inline-block;
  border-radius: 60px;
  box-shadow: 0px 0px 2px #888;
  padding: 0.5em 0.5em;
}


h4 > a {
  color: #6f6f6f;
}

.ag-theme-balham .ag-header{
  background-color: #e5e5e5 !important;
}

.ag-theme-balham .ag-root {
  border: 0 !important;
}
/*.med-run-grid{*/
  /*padding-left: 17%;*/
/*}*/
