﻿<div class="unauthorized-page">
    <div class="details-block">
        <div class="info-row" *ngIf="page">
            <div>
                <h2>{{page.SubHeader.Value}}</h2>
                <app-image-button [btn]="page.GoHome"
                                  [assetsFolderPath]="assetsFolderPath"
                                  (onClick)="sendClickEvent($event)">
                </app-image-button>
            </div>
            <div>
                <img [src]="getAsset(page.Icon.Value)" />
            </div>
        </div>
    </div>
</div>