.unauthorized-page {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;

    .details-block {
        width: 700px;
        margin: 20px auto;

        .info-row {
            display: block;

            h2 {
                margin-bottom: 30px;
            }

            > div {
                display: inline-block;
                vertical-align: top;
                padding-right: 20px;
            }
        }
    }
}
