﻿<div class="app-menu">
    <div class="menu" [popover]="menuPopover" [outsideClick]="true" placement="bottom" containerClass="menu-tooltip-in-header"
         (onShown)="onShown()" (onHidden)="onHidden()" [class.opened]="isOpened" #pop="bs-popover">
        <div></div>
        <div></div>
        <div></div>
    </div>

    <ng-template #menuPopover>
        <ul class="menu-tooltip">
            <ng-template #recursiveList let-list>
                <li *ngFor="let item of list" [class.clickable]="item.Children.length == 0">
                    <span (click)="goTo(item.Action)">{{item.Title}}</span>
                    <ul *ngIf="item.Children.length > 0">
                        <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: item.Children }"></ng-container>
                    </ul>
                </li>
            </ng-template>
            <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: menuItems }"></ng-container>
        </ul>
    </ng-template>
</div>