.app-menu {

    .menu {
        width: 58px;
        height: 100px;
        padding-top: 30px;
        cursor: pointer;

        &.opened {
            background-color: #1DAFEC;
            border-top-left-radius: 30px;
            border-top-right-radius: 30px;
            padding-left: 10px;
            padding-right: 10px;
            width: 80px;

            div {
                background-color: #fff;
            }
        }

        div {
            background-color: #1DAEEC;
            border-radius: 10px;
            margin-bottom: 7px;
            height: 11px
        }
    }

    .menu-tooltip {
        color: #fff;
        list-style: none;
        padding-left: 0px;

        > li {
            border-bottom: 1px solid #85AEBC;
        }

        li.clickable:active {
            background-color: #0C57CF;
        }

        ul {
            list-style: inherit;
            padding-left: 30px;
        }
        li {
            margin-left: -30px;
            padding-left: 30px
        }
    }
}
