.time-picker {
    padding: 30px;
    .selected-time {
        text-align: center;
        font-size: 4rem;
        color: #38A4F9;
    }
    .clock {
        position: relative;
        width: 400px;
        height: 400px;
        border-radius: 50%;
        border: 1px solid #E0E0E0;
        display: inline-block;
        margin: 0 20px;

        &:after {
            position: absolute;
            content: "";
            border-radius: 50%;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
            width: 8px;
            height: 8px;
            background-color: #38A4F9;
        }
    }
    .actions {
        text-align: center;
        margin: 15px auto;
    }

    .hand {
        position: absolute;
        left: 198px;
        top: 50px;
        background-color: #38A4F9;
        width: 2px;
        height: 150px;
        z-index: 7;
        transform-origin: bottom center;
        &.inner-hand {
            top: 106px;
            height: 92px;
        }
    }
    .am, .pm {
        position: absolute;
        font-family: sans-serif;
        z-index: 1;
        cursor: pointer;
    }
    .am {
        font-size: 26px;
        color: #7E7E7E;        
        width: 30px;
        text-align: center;

        &.selected {
            color: #fff;
            background: transparent;

            &:before {
                position: absolute;
                content: "";
                left: -9px;
                top: -6px;
                background-color: #38A4F9;
                width: 48px;
                height: 48px;
                border-radius: 50%;
                z-index: -1;
            }
        }
    }
    .pm {
        font-size: 20px;
        color: #7E7E7E;

        &.selected {
            color: #fff;
            background: transparent;

            &:before {
                position: absolute;
                content: "";
                left: -8px;
                top: -6px;
                background-color: #38A4F9;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                z-index: -1;
            }
        }
    }

    .twelve {
        top: 10px;
        left: 182px;
    }
    .one {
        top: 40px;
        right: 102px;
    }
    .two {
        top: 100px;
        right: 40px;
    }
    .three {
        top: 180px;
        right: 20px;
    }
    .four {
        bottom: 96px;
        right: 40px;
    }
    .five {
        bottom: 36px;
        right: 102px;
    }
    .six {
        bottom: 10px;
        left: 184px;
    }
    .seven {
        bottom: 36px;
        left: 102px;
    }
    .eight {
        bottom: 96px;
        left: 40px;
    }
    .nine {
        top: 180px;
        left: 20px
    }
    .ten {
        top: 100px;
        left: 40px;
    }
    .eleven {
        top: 40px;
        left: 102px;
    }

    .zero {
        top: 76px;
        left: 188px;
    }
    .thirteen {
        top: 90px;
        right: 132px;
    }
    .fourteen {
        top: 128px;
        right: 92px;
    }
    .fifteen {
        top: 185px;
        right: 78px;
    }
    .sixteen {
        bottom: 130px;
        right: 92px;
    }
    .seventeen {
        bottom: 90px;
        right: 132px;
    }
    .eighteen {
        bottom: 74px;
        left: 188px;
    }
    .nineteen {
        bottom: 90px;
        left: 132px;
    }
    .twenty {
        bottom: 130px;
        left: 92px;
    }
    .twenty-one {
        top: 185px;
        left: 78px
    }
    .twenty-two {
        top: 130px;
        left: 90px;
    }
    .twenty-three {
        top: 90px;
        left: 132px;
    }
}
