﻿<div class="time-picker">
    <h1 class="selected-time">{{selectedHour}}:{{selectedMinute}}</h1>
    <div class="clock hours">
        <div class="hand"
            [style.transform]="'rotate(' + getHourHandDeg() + ')'"
            [ngClass]="{'inner-hand': selectedHour === '00' || selectedHour > '12'}"></div>
        <span *ngFor="let am of hoursAM" class="am" [ngClass]="am.class" [ngClass]="{'selected': am.value === selectedHour}"
                (click)="selectedHour = am.value" role="button" [class.selected]="selectedHour === am.value">
            {{am.value | number}}
        </span>
        <span *ngFor="let pm of hoursPM" class="pm" [ngClass]="pm.class"
                (click)="selectedHour = pm.value" role="button" [class.selected]="selectedHour === pm.value">
            {{pm.value}}
        </span>
    </div>
    <div class="clock minutes">
        <div class="hand" [style.transform]="'rotate(' + getMinuteHandDeg() + ')'"></div>
        <span *ngFor="let m of minutes" class="am" [ngClass]="m.class" [class.selected]="selectedMinute === m.value"
                (click)="selectedMinute = m.value" role="button">
            {{m.value}}
        </span>
    </div>
    <div class="actions">
        <app-image-button [btn]="okBtn" [assetsFolderPath]="'assets/'"
            (onClick)="selectTime()" [style]="{'color': '#38A4F9', 'font-weight': 'bold', 'font-size': '24px'}"></app-image-button>
    </div>
</div>
