<div class="vault-page container-fluid" *ngIf="context$ | async as context">
<app-resident-details
  [currentResident]="context.currentResident"
  [assetsFolderPath]="assetsFolderPath"
  [userDetails]="page.UserDetails"
></app-resident-details>
<div class="row">
  <div class="col"></div>
  <div class="col-9">

    <div *ngIf="gridItems" class="grid pill-scrollbar">
      <div  *ngFor="let gridItem of gridItems; let i = index;" class="grid-container">
        <div *ngIf="gridItem">
          <div class="grid-name-container">
            <span class="grid-name">{{gridItem.Header}}</span>
            <span *ngIf="gridItem.Blocked === true" class="grid-name message">{{gridItem.Message}}</span>
          </div>

          <div class="grid-header">
            <div *ngFor="let header of page.ColumnNamesAsArray" class="grid-cell grid-header-cell">
              <span>{{ header }}</span>
            </div>
          </div>

          <div *ngIf="medRecords && medRecords.length > 0" class="grid-body">
            <div class="grid-row"
                 *ngFor="let cell of filter(gridItem.Key)"
                 (click)="selectItem(cell, i)"
                 [ngClass]="{selected: cell.Selected}">
              <div class="grid-cell checkbox">
                <img src="{{ assetsFolderPath + (cell.Selected ?  toggle?.Image?.Value :  toggle?.UncheckedImage?.Value) }}"/>
              </div>
              <div class="grid-cell">
                <span>{{ cell.Quantity }}</span>
              </div>
              <div class="grid-cell med-cell">
                <p>{{ cell.MedicationName }}</p>
              </div>
              <div class="grid-cell">
                <img (click)="removeItem(cell, i)" class="cross-btn" src="{{ assetsFolderPath + page.Cross?.Value}}"/>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="col-2 buttons">
    <div class="action-buttons">
      <div class="centered-btn action-btn"
           *ngFor="let btn of page.ActionButtons; let i = index;"
           (click)="actionBtnClicked(btn, i)"
           [ngClass]="{'selected': btn.Clicked}">
        <img [src]="getAsset(btn.Image.Value)" />
        <div><span [innerHTML]="btn.Text.Value"></span></div>
      </div>
    </div>
  </div>

</div>
</div>

