.vault-page {
  position: relative;
  padding-right: 40px;
  font-size: 100%;

  .message{
    border: 1px #85060f solid;
    border-radius: 15px;
    padding: 2px 30px 2px 30px;
    color: #85060f !important;
  }

  .buttons {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    cursor: pointer;
    .action-buttons {
      padding-top: 120px;
    }
    .action-btn {
      display: inline-block;
      color: gray;
      font-size: 20px;
      margin-bottom: 20px;
    }
    .start-btn {
      display: inline-block;
      color: red;
      font-weight: bolder;
      font-size: 28px;
    }
    .selected {
      color: #64B3C9;
    }
  }

  p{
    margin-bottom: 0;
  }
  .cross-btn{
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 23px;
    cursor: pointer;
  }
  .grid-panel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 17px;
  }

  .grid {
    position: relative;
    width: 100%;
    height: 700px;

    .grid-container{
      background-color: #dddddd;
    }

    .grid-name{
      color: #1dafec;
      margin-left: 7%;
      font-size: 30px;
      font-weight: bold;
    }

    .grid-name-container{
      margin-top: 40px;
      background-color: #ededed;

    }

    .grid-header-cell{
      margin: 0 !important;
      background-color: #dddddd !important;

      &:nth-child(1) {
        background-color: #ededed !important;

      }
      &:nth-child(2) {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-right: #ededed solid !important;
        margin-left: 12px !important;

        //background-color: red;
      }
      &:nth-child(3) {
        padding-left: 20px !important;
        margin-left: -3px !important;
        border-left: 1px groove #ffffff;
        //background-color: red;
      }
      &:last-child {
        padding-top: 5px;
        max-width: 8% !important;
        flex: 0 0 8% !important;
        margin-left: -12px !important;
        //background-color: red;
      }
    }

    .grid-cell {
      padding: 0px 2px 0px 3px;
      text-align: left;
      max-width: 7%;
      flex: 0 0 7%;
      border-right: 1px solid #000000;
      position: relative;
      font-size: 25px;
      border-top: 1px solid #000;
      border-bottom: 1px solid #000;
      background-color: white;
      margin: 2px 0px 2px -2px;
      font-weight: bold;

      &:nth-child(2) {
        border-left: 1px solid #000;
        text-align: center;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        margin-left: 10px;
      }
      &:nth-child(3) {
         max-width: 78%;
         flex: 0 0 78%;
         overflow: hidden;
        border-right: none;
        padding-left: 20px;
        border-left: 1px groove #dddddd;
       }
      &:last-child {
        max-width: 6%;
        flex: 0 0 6%;
        overflow: hidden;
        border-left: none;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        margin-left: 0;
        margin-right: 10px;
      }



      &.checkbox {
        text-align: center;
        border: none;
        background: #ededed !important;
        margin: 0;
      }

      &.med-cell {
        width: 20px;
      }

      .med-pic {
        margin-left: auto;
        margin-right: auto;
        width: 82px;
        height: auto;
        border: 1px solid #000;
      }

      .red {
        color: #B15E64 !important;
      }
      .grey {
        color: grey !important;
        font-style: italic !important;
      }
      .gray {
        color: gray !important;
      }
      .med-details {
        color: grey;
        font-size: 22px;
      }
    }

    .grid-header {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      color: #9B9D9E;
      margin: 0;

      .grid-cell {
        border-bottom: none;
        padding: 0;
        border: none;
        border-radius: 0;
        font-size: 20px;
        font-weight: bold;


      }
    }

    .grid-body {
      position: relative;


      .grid-row {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        color: #000;
        //margin-bottom: 4px;

        &.selected {
          .grid-cell {
            background: #BCE8E6;
          }
        }
      }
    }
  }

}



