<div class="container-fluid logon-container" [style.backgroundImage]="'url(' + getAsset(page.Background.Value + ')')" [@routerTransition]="">
    <div class="logo-image">
        <img [src]="getAsset(page.Logo.Value)" />
    </div>
    <form [formGroup]="resetForm" class="logo-form">
        <h1 class="form-title" *ngIf="page.Title">{{page.Title.Value}}</h1>
        <div class="form-control"
             [ngClass]="{invalid: invalidControl == 'oldPassword', 'has-error': validationError == this.page.OldPasswordField.ErrorText.Value}">
            <div class="password-container" [appInEdit]="getEditorProps('OldPasswordField', 7)">
                <div class="password-icon">
                    <img [src]="getAsset(page.OldPasswordField.Image.Value)" />
                </div>
                <input spellcheck="false"
                       class="form-control"
                       type="password"
                       formControlName="oldPassword"
                       matInput
                       [matKeyboard]
                       [placeholder]="page.OldPasswordField.Placeholder.Value"
                       title="" />
            </div>
        </div>
        <div class="form-control"
             [ngClass]="{invalid: invalidControl == 'newPassword', 'has-error': validationError == this.page.NewPasswordField.ErrorText.Value}">
            <div class="password-container" [appInEdit]="getEditorProps('NewPasswordField', 7)">
                <div class="password-icon">
                    <img [src]="getAsset(page.NewPasswordField.Image.Value)" />
                </div>
                <input spellcheck="false"
                       class="form-control"
                       type="password"
                       formControlName="newPassword"
                       matInput
                       [matKeyboard]
                       [placeholder]="page.NewPasswordField.Placeholder.Value"
                       title="" />
            </div>
        </div>
        <div class="form-control"
             [ngClass]="{invalid: invalidControl == 'repeatPassword', 'has-error': validationError == this.page.RepeatPasswordField.ErrorText.Value}">
            <div class="password-container" [appInEdit]="getEditorProps('RepeatPasswordField', 7)">
                <div class="password-icon">
                    <img [src]="getAsset(page.RepeatPasswordField.Image.Value)" />
                </div>
                <input spellcheck="false"
                       class="form-control"
                       type="password"
                       formControlName="repeatPassword"
                       matInput
                       [matKeyboard]
                       [placeholder]="page.RepeatPasswordField.Placeholder.Value"
                       title="" />
            </div>
        </div>
    </form>
    <div class="buttons">
        <button [style.background]="'url(' + getAsset(page.Reset.Image.Value) + ')'"
                (click)="reset(page.Reset.Action)"
                [appInEdit]="getEditorProps('Reset', 1)">
            {{page.Reset.Text.Value}}
        </button>
    </div>
    <div class="validation-errors" [ngClass]="{show: hasErrors()}">
        <div class="error-icon">
            <img [src]="getAsset(page.ErrorIcon.Value)" />
        </div>
        {{validationError}}
    </div>
</div>
<audio #sound [src]="getAsset('warning.wav')" preload="auto"></audio>
