.logon-container {
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 100%;
  padding-left: 0;
  padding-right: 0;
  .logo-image {
    height: 16%;
    img {
      padding-top: 10px;
    }
  }

  @input-width: 50em;
  form.logo-form {
    text-align: center;
    display: block;
    
    .form-title {
        margin-bottom: 20px;
    }

    div.form-control {
      background-color: transparent;
      border: unset;
      margin-bottom: 10px;

      .password-container {
        position: relative;
        width: @input-width;
        margin: 0 auto;
        display: block;
        .password-icon {
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          width: 4em;
          display: flex;
          justify-content: center;
          align-items: center;

          img {
              background-color: #9B9EAB;
          }
        }
        input {
          font-size: 2.6em;
          border-radius: 20px;
          background-color: #ededed;
          padding: 22px 1.5em;
          line-height: normal;
          border: 1px solid #B1B1B1;
          box-shadow: inset 3px 3px 0px 1px rgba(222,222,222,1);
        }
      }
      @keyframes swing {
        15% {
          transform: translateX(15px);
        }
        30% {
          transform: translateX(-15px);
        }
        50% {
          transform: translateX(10px);
        }
        65% {
          transform: translateX(-10px);
        }
        80% {
          transform: translateX(5px);
        }
        100% {
          transform: translateX(0);
        }
      }
      &.invalid {
        animation: swing .6s ease-in-out;
        animation-iteration-count: 1;
      }
      &.has-error {
          input {
              color: #8B1224 !important;
              border: 1px solid #8B1224 !important;
          }
          ::-webkit-input-placeholder {
              color: #8B1224;
          }
          .password-icon > img {
              background-color: #A34D53 !important;
          }
      }
    }
  }
  .buttons {
    text-align: center;
    padding-top: 45px;

    button {
      width: 395px;
      font-size: 300%;
      padding: 25px;
      border: none;
      border-radius: 50px;
      &:focus {
          outline: 0 !important;
      }
    }
  }

  .validation-errors {
    position: relative;
    color: #820000;
    font-size: 200%;
    font-weight: bold;
    display: none;
    text-align: center;
    border: 1px solid #AE797D;
    border-radius: 20px;
    width: @input-width / 2;
    padding: 20px;
    margin: 45px auto 0px auto;

    &.show {
      display: block;
    }

    .error-icon {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 4em;
        display: flex;
        justify-content: center;
        align-items: center;
    }
  }
}
