@margin-left:   60px;
@scroll-width:  32px;
@min-width:     140px;
@font-size:     18px;
@pl:            32px;

.resident-meds-grid-wrapper {
    font-size: 100%;
    margin-left: @margin-left;
    margin-top: 30px;
    
    .tbl_scroll {
        margin: 0;
        padding: 0;

        .tbl_scrollHead {
            overflow: hidden;
            position: relative;
            border: 0;
            width: 100%;
            padding-left: @pl;
        }
        .tbl_scrollHeadInner {
            box-sizing: content-box;
            padding-right: @scroll-width;
            table {
                width: 100%;
                box-sizing: content-box;
                border-collapse: separate;
                border-spacing: 0;
            }
            th {
                white-space: nowrap;
                color: #757575;
                font-size: @font-size;
                font-weight: normal;
                padding: 0;
            }
        }
        .tbl_scrollBody {
            position: relative;
            overflow: auto;
            width: 100%;
            height: 560px;
            border-radius: 10px;
            border: 1px solid #A0A2A3;
            padding-left: @pl;
            padding-right: @scroll-width;
            box-shadow: inset 0px 3px 0px 1px #B3B3B3;
            table {
                // width: 100%;
                box-sizing: content-box;
                border-collapse: separate;
                border-spacing: 0;
                thead tr {
                    height: 0;
                }
                thead th {
                    padding: 0px;
                    border-top-width: 0px;
                    border-bottom-width: 0px;
                    height: 0px;
                    white-space: nowrap;
                    div {
                        height: 0px;
                        padding: 0;
                        margin: 0;
                        overflow: hidden;
                    }
                }
                tbody td {
                    box-sizing: content-box;
                    margin: 0;
                    font-size: @font-size;
                    color: #878787;
                    border-bottom: 1px solid #fff;
                    padding: 0;

                    img {
                        text-align: left;
                        height: auto;
                        margin: 5px 0px;
                        padding-right: 20px;
                    }
                }
            }
        }
        .tc {
            padding: 8px 0px;
        }
    }

    .meds-table {
        border-collapse: collapse;
        width: 100%;

        .header-row {
            color: #757575;
            th {
                font-weight: normal;
                font-size: 120%;
                padding: 3px 15px;
            }
        }
        .body-row {
            color: #878787;
            border-bottom: 1px solid #fff;
            td {
                font-size: 110%;
                padding: 15px;
            }
        }
        tbody {
            box-shadow: 0px 0px 0px 1px #B3B3B3;
            border-radius: 14px;
            tr:last-child {
                border-bottom: medium none;
            }
        }
    }
}
