﻿<div class="resident-meds-grid-wrapper">
  <div class="tbl_scroll">
    <div class="tbl_scrollHead" #scrollHead>
        <div class="tbl_scrollHeadInner" #scrollHeadInner>
          <table *ngIf="dataSource">
            <thead>
              <tr role="row" #scrollHeadRow>
                <th *ngFor="let hc of dataSource.headers">
                  <div class="tc">{{hc}}</div>
                </th>
              </tr>
            </thead>
          </table>
        </div>
    </div>
    <div class="tbl_scrollBody pill-scrollbar" (scroll)="bodyScroll($event)">
      <table *ngIf="dataSource">
        <thead>
          <tr role="row" #scrollBodyRow>
            <th *ngFor="let hc of dataSource.headers; let k = index" [style.width.px]="dataSource.widths[k]">
              <div class="tc">{{hc}}</div>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr role="row" *ngFor="let row of dataSource.data">
            <td *ngFor="let bc of row; let t = index; let lastRowRendered = last">
              <div class="tc" *ngIf="t !== imageColumnIndex; else medImage" [style.width.px]="dataSource.widths[t]">{{bc}}</div>
              <ng-template #medImage>
                  <img src="{{ 'assets/' + bc }}" [style.width.px]="dataSource.widths[t] - 20" />
              </ng-template>
              <ng-container *ngIf="lastRowRendered">
                  {{ updateCellWidth() }}
               </ng-container>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
