<div class="top-page-info">
    <div class="header clearfix">
      <h4 class="verification-head-links"><a href="#">Configuration</a> > <a href="#">User Admin</a></h4>
    </div>
    <hr>
    <div class="header clearfix">
      <h4 class="verification-head">Enter verification code</h4>
    </div>
  <hr>
</div>




<div class="row">
  <div class="col-md-2">

  </div>

  <div class="jumbotron col-md-8 search-user-div">
      <div class="text-center">
        <div class="inner-addon left-addon">
          <i class="fa fa-search"></i>
        <ng2-completer class="auto-complete-input text-center" [(ngModel)]="searchStr"
                       [matchClass]="'matched-text'"
                       [openOnFocus]="true"
                       [selectOnFocus]="true"
                       [datasource]="dataService"
                       [minSearchLength]="0"
                       (selected)="onSelected($event)">

        </ng2-completer>
        </div>
      </div>
  </div>


  <div class="col-md-2">
<button (click)="onResetClick()" class="reset-password-btn">Reset password</button>
  </div>
</div>





<ngx-smart-modal #myModal (onClose)="onClose()" identifier="myModal">
  <div class="text-center">

    <h4 class="verification-head">Enter verification code</h4>
    <input type="text" class="form-control verification-input"  [(ngModel)]="code" required/>
    <h4 *ngIf="errorMsg" class="error-msg">Incorrect verification code</h4>
    <button class="send-code-btn" (click)="sendCode()">OK</button>
  </div>

</ngx-smart-modal>
