﻿<div class="stat-page container-fluid" *ngIf="context$ | async as context">
    
    <app-resident-details
        [currentResident]="context.currentResident"
        [assetsFolderPath]="assetsFolderPath"
        [userDetails]="page.UserDetails"
    ></app-resident-details>

    <form [formGroup]="statForm" class="pill-scrollbar">
        <div formArrayName="rows" *ngFor="let item of ROWS; let i = index; let last = last">
            <div [formGroupName]="i">
                <div class="stat-row clearfix">
                    <img [src]="getAsset(page.DoctorIcon.Value)" class="doctor-icon" />
                    <app-autocomplete
                        [placeholder]="page.DoctorField.Placeholder.Value"
                        [iconSrc]="getAsset(page.DoctorField.Image.Value)"
                        formControlName="doctor"
                        itemTitle="FullName"
                        [dataSource]="doctors"
                        [searchPropName]="'FullName'"
                        [showDropdownButton]="true"
                        [width]="'720px'">
                    </app-autocomplete>
                </div>
                <div class="med-row clearfix">
                    <img [src]="getAsset(page.PillIcon.Value)" class="pill-icon" />
                    <img [src]="getAsset(item.get('medication').value.ImageSrc || 'img_404.png')" class="med-icon" *ngIf="item.get('medication').value" />
                    <app-autocomplete
                        [placeholder]="page.MedicationField.Placeholder.Value"
                        [iconSrc]="getAsset(page.MedicationField.Image.Value)"
                        formControlName="medication"
                        itemTitle="MedicationName"
                        [dataSource]="meds"
                        [searchPropName]="'MedicationName'"
                        [showDropdownButton]="true"
                        [itemTemplate]="medsTemplate"
                        [width]="'1020px'">
                    </app-autocomplete>
                    <div class="quantity" *ngIf="item.get('medication').value">
                        <h3>{{page.Quantity.Value}}</h3>
                        <span>
                            <button (click)="quantityMinus(item)">-</button>
                            <input type="text" [value]="item.get('medication').value.Quantity" />
                            <button (click)="quantityPlus(item)">+</button>
                        </span>
                    </div>
                    <img [src]="getAsset(page.BinIcon.Value)" class="bin-icon" role="button"
                        *ngIf="item.get('medication').value"
                        (click)="clearMedication(item)" />
                    <img [src]="getAsset(page.AddRow.Value)" class="add-row" (click)="addMedRow()" role="button" *ngIf="last" />
                    <img [src]="getAsset(page.RemoveRow.Value)" class="remove-row" (click)="removeMedRow()" role="button" *ngIf="!last" />
                </div>
            </div>
        </div>
    </form>

    <div class="actions">
        <app-image-button [btn]="page.AddToPackage" [assetsFolderPath]="assetsFolderPath"
            [disabled]="!statForm.valid" (onClick)="addToPackage($event)"
            [style]="{'color': '#7C0000', 'font-size': '30px'}"></app-image-button>
    </div>

    <ng-template #medsTemplate let-item let-text="text" let-selection="selection">
        <div class="meds-list-item">
            <img [src]="getAsset(item.ImageSrc || 'img_404.png')" />
            <span class="qty">{{item.Quantity}}</span>
            <span>{{item.MedicationName}}</span>
        </div>
    </ng-template>
</div>
