.stat-page {
    width: 85%;
    margin: 0 auto;

    form {
        margin-left: 60px;
        height: 440px;
        padding-top: 2px;
    }
    .stat-row {
        .doctor-icon {
            float: left;
            margin-right: 40px;
            margin-top: 10px; 
        }
        *:last-child {
            display: inline-block;
        }
    }

    .med-row {
        margin-top: 20px;
        margin-bottom: 10px;

        .pill-icon {
            margin-right: 54px;
            margin-left: 14px;
        }
        .med-icon {
            max-height: 60px;
            width: auto;
            margin-right: 20px;
        }
        * > {
            display: inline-block;
            vertical-align: middle;
        }
        .add-row, .remove-row {
            float: right;
            cursor: pointer;
            margin: 15px;
            vertical-align: middle;
        }
        .quantity {
            text-align: center;
            margin: 0 20px;

            h3 {
                color: #808080;
                font-weight: bold;
            }
            span {
                width: 154px;
                margin: 0px 12px;
                color: #000;
                box-shadow: 0px 2px 1px 0px #fff;
                border-radius: 6px;
                border: 1px solid #D1D1D1;
                background: #DEDEDE;
                display: block;
                font-size: 30px;
                input, button {
                    text-align: center;
                    border: none;
                    background: transparent;
                    border-radius: 6px;
                }
                input {
                    width: 74px;
                    user-select: none;
                }
                button {
                    cursor: pointer;
                }
            }
        }
        .bin-icon {
            cursor: pointer;
        }
    }

    .actions {
        text-align: right;
    }

    .meds-list-item {
        font-size: 32px;
        img {
            max-width: 82px;
        }
        .qty {
            text-align: center;
            min-width: 70px;
            padding: 0px 10px;
            margin: 0px 10px;
            border-left: 1px solid #C3C3C3;
            border-right: 1px solid #C3C3C3;
        }
    }
}
