.loa-picker-popover {
    font-size: 100%;
    position: relative;

    .ok-btn {
        position: absolute;
        right: -27px;
        bottom: -85px;
        background: #3AB549;
        color: #fff;
        font-size: 30px;
        padding: 10px 40px;
        cursor: pointer;
        border: none;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
}
