﻿<div class="loa-picker-popover">
    <app-loa-picker [pickerVM]="pickerVM" [adminTimes]="adminTimes | async" [isChange]="isChange" [(ngModel)]="loaDateValue"></app-loa-picker>

    <div class="ok-btn" (click)="updateLoa.emit(loaDateValue)">
        {{pickerVM.Ok?.Text.Value}}
    </div>
</div>