<div class="text-editor">
    <table style="width: 100%">
        <tbody>
            <tr>
                <td valign="top">Text: </td>
                <td>
                    <textarea [(ngModel)]="control" class="form-control" rows="3" style="width: 100%"></textarea>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr><td colspan="2">
                    <app-actions-block (saveForm)="saveForm()"
                                       (cancel)="cancel()"></app-actions-block>
            </td></tr>
        </tfoot>
    </table>
</div>
