﻿<div class="med-tote-page container-fluid">
    <div class="sub-header clearfix">
        <img [src]="getAsset(this.page.Icon.Value)" />
        <h1>{{this.page.Subtitle.Value}}</h1>
    </div>

    <div class="totes-grid">
        <div class="tote-container clearfix" *ngFor="let tote of totes$ | async; let i = index">
            <h1 class="tote-index">{{i + 1}}</h1>
            <div class="slot-wrapper">
                <div class="tote-slot"
                        [ngClass]="{'disabled': i % 2 === 0, 'selected': selectedIndex === i}"
                        (click)="toteClicked(i, tote, modalTempl)">
                    <div class="station">
                        <p *ngIf="tote.StationNo; else naTempl">{{page.StationLabel.Value}}<br/>{{tote.StationNo}}</p>
                        <ng-template #naTempl>
                            <span class="na-text">{{page.NAText.Value}}</span>
                        </ng-template>
                    </div>
                    <div class="state"
                        [ngClass]="{'ready': tote.State === 'Ready', 'packaging': tote.State === 'Packaging', 'reserved': tote.State === 'Reserved', 'available': tote.State === 'Available', 'empty': tote.State === 'Empty'}">
                        {{tote.State}}<br/>
                        {{tote.EnvelopesPackaged + '/' + tote.EnvelopesTotal}}
                    </div>
                    <div class="description">{{tote.StationName}}</div>
                </div>
                <div class="admin-time" [ngClass]="{'invisible': tote.State === 'Available' || tote.State === 'Empty'}">
                    {{tote.AdminTime}}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="actions">
    <app-image-button [btn]="page.Continue" [assetsFolderPath]="assetsFolderPath"
        (onClick)="sendClickEvent($event)" [style]="{'color': '#5F5F61', 'font-size': '28px'}"></app-image-button>
</div>

<ng-template #modalTempl>
    <div class="tote-modal-dialog" [style.backgroundImage]="'url(' + getAsset(page.Modal.Background.Value + ')')">
        <img [src]="getAsset(this.page.Modal.Icon.Value)" />
        <h1 class="t-index">{{selectedIndex + 1}}</h1>
        <p *ngIf="selectedTote.StationNo; else emptyTempl" class="t-station">{{page.StationLabel.Value}}<br/>{{selectedTote.StationNo}}</p>
        <ng-template #emptyTempl>
            <p class="t-station">{{page.Modal.EmptyText.Value}}</p>
        </ng-template>
        <p class="t-date" *ngIf="selectedTote.Packaged">
            {{page.Modal.PackagingDateLabel.Value}}<br/>
            {{selectedTote.Packaged | date:'medium'}}
        </p>
        <p class="t-message">
            You have pending medications in the Vault\Refrigirator. Scan and remove the medications as part of your Med Run.
        </p>
        <app-image-button [btn]="page.Modal.Button" [assetsFolderPath]="assetsFolderPath"
            [style]="{'color': '#750000', 'font-size': '22px'}"></app-image-button>
    </div>
</ng-template>
