.med-tote-page {
    width: 68%;
    margin: 5px auto;

    .sub-header {
        color: #6E6F73;
        text-align: center;
        margin: 30px auto;
        font-weight: bold;
        img {
            float: left;
        }
    }

    .totes-grid {
        display: flex;
        flex-flow: row wrap;
    }

    .tote-container {
        flex: 0 0 33.3%;
        height: 160px;

        .tote-index {
            float: left;
            color: #000;
            width: 40px;
            text-align: right;
            font-weight: bold;
            font-size: 3rem;
        }
        .slot-wrapper {
            overflow: hidden;
            margin-left: 44px;
        }
        .tote-slot {
            position: relative;
            width: 94%;
            margin: 0 auto;
            border: 1px solid #868686;
            border-radius: 36px;
            vertical-align: top;
            padding: 2px 10px;
            box-shadow: 0px 5px 5px 0px #8F8F8F;
            min-height: 80px;
            background: linear-gradient(to bottom, #FFFFFF 0%,#F4F4F4 50%,#E8E8E8 100%);
            z-index: 1;
            cursor: pointer;
            user-select: none;

            @s-height:  54px;
            @f-size:    24px;
            .station {
                width: 48%;
                color: #5D5C63;
                display: inline-block;
                text-align: center;
                font-size: @f-size;
                height: @s-height;
                vertical-align: top;
                .na-text {
                    font-size: 30px;
                }
                p {
                    line-height: 26px;
                    margin-bottom: 0px;
                }
            }
            .state {
                width: 49%;
                display: inline-block;
                text-align: center;
                height: @s-height;
                font-size: @f-size;
                vertical-align: top;
                line-height: 26px;
                border-left: 1px solid #BEBEBE;
                &.ready {
                    color: #00AA00;
                }
                &.packaging {
                    color: #00A0F7;
                }
                &.reserved {
                    color: #000000;
                }
                &.available {
                    color: #B261FC;
                }
                &.empty {
                    color: #690000;
                }
            }
            .description {
                text-align: center;
                color: #999;
                font-size: 20px;
                line-height: 22px;
            }
            &.disabled {
                background: #DDDDDD;
            }
            &.selected {
                background: #AEDFE3;
            }
            &.readonly {
                background: #E0B0B0;
            }
        }
        .admin-time {
            position: relative;
            width: 92%;
            margin: -16px auto 0 auto;
            background: #CCCCCC;
            text-align: center;
            font-size: 28px;
            color: #000;
            padding: 20px 5px 5px 5px;
            border-bottom-left-radius: 16px;
            border-bottom-right-radius: 16px;
            z-index: 0;
        }
    }
}
.actions {
    text-align: right;
}
.tote-modal-dialog {
    font-size: 100%;
    width: 100%;
    height: 100%;
    border-radius: 55px;
    text-align: center;
    padding: 36px 16px 10px 16px;
    .t-index {
        font-size: 5rem;
        font-weight: bold;
        margin-top: 16px;
        margin-bottom: 10px;
    }
    .t-station {
        font-size: 4rem;
        line-height: 4rem;
        font-weight: bold;
    }
    .t-date {
        font-size: 2rem;
        line-height: 2rem;
        font-weight: bold;
        margin-top: 8px;
    }
    .t-message {
        color: #D10000;
        font-size: 2.5rem;
        line-height: 2.5rem;
    }
}
