﻿<div class="folio-page" *ngIf="context$ | async as context">
    
    <app-resident-details
            [currentResident]="context.currentResident"
            [assetsFolderPath]="assetsFolderPath"
            [userDetails]="page.UserDetails"
            [detailsState]="'opened'"
            (sendEvent)="sendClickEvent($event)"
    ></app-resident-details>

    <div class="notice">
        <div>{{page.Notice.Value}}</div>
        <div class="separator"></div>
        <div class="notice-content">
            {{context.currentResident.Status === 'Discharged' ? page.Resident.Value : page.ResidentOn.Value }}
            {{context.currentResident.Status}}
        </div>
        <div class="notice-button-list">
            <span class="notice-button" role="button"
                    (click)="sendClickEvent(btn.Action)"
                    *ngFor="let btn of getVisibleButtons(context.currentResident.Status)"
                    [ngClass]="{'prn': btn.Action === 'PRN', 'loa': btn.Action === 'LOA_RETURN', 'meds': btn.Action === 'RETURN_MEDS', 'readmit': btn.Action === 'READMIT'}">
                {{btn.Text.Value}}
            </span>
        </div>
        <div class="separator"></div>
    </div>

</div>
