.folio-page {
    width: 76%;
    margin-left: 110px;

    .notice {
        color: #720314;
        font-size: 250%;
        margin-left: 60px;

        .notice-content {
            color: #7C8087;
            padding: 10px 0px;

            * {
                display: inline-block;
            }
        }

        .notice-button-list {
            margin-bottom: 60px;
        }

        .notice-button {
            border-radius: 40px;
            font-size: 36px;
            padding: 0px 40px;
            margin-right: 20px;
            border: 1px solid #B1B1B1;
            background: linear-gradient(to bottom, #F2F2F2 0%,#F2F2F2 50%,#F3F3F3 51%,#A7ABAC 100%);
            text-shadow: 1px 1px 1px #efefef;
            cursor: pointer;
            user-select: none;

            &.prn {
                color: #00ACF4;
            }
            &.loa {
                color: #00AC08;
            }
            &.meds {
                color: #7C2E95;
            }
            &.readmit {
                color: #00ADEE;
            }
            &:active {
                text-shadow: -1px -1px 2px #000;
            }
        }
    }

    .separator {
        height: 3px;
        background-image: linear-gradient(to right, #ffffff 0%, #bcbcbc 35%, #bcbcbc 64%, #ffffff 100%);
    }
}
