﻿<div class="admission-page container-fluid">
    
    <div class="adm-row">
        <div class="empty-col">&nbsp;</div>
        <div class="search-col">
            <h1>{{page.Header.Value}}</h1>
            <form [formGroup]="searchForm">
                <app-autocomplete [placeholder]="page.SearchField.Placeholder.Value"
                    formControlName="resident"
                    itemTitle="FullName"
                    [dataSource]="'SEARCH_PATIENTS'"
                    [searchPropName]="'Name'"
                    [showDropdownButton]="true"
                    [iconSrc]="getAsset(page.SearchField.Image.Value)"
                    [zoom]="'zoom4'">
                </app-autocomplete>
            </form>
        </div>
        <div class="main-col" *ngIf="selectedResident">
            <h1 [ngClass]="{'not-visible': isNewMode()}">{{selectedResident.FullName}}</h1>
            <div class="resident-details">
                <form [formGroup]="dataForm">
                    <table>
                        <tbody>
                            <tr>
                                <td>{{page.UserDetails.ResidentId.Value}}</td>
                                <td>
                                    <span *ngIf="!isNewMode()">{{selectedResident.PID}}</span>
                                    <input type="text" readonly formControlName="pid" *ngIf="isNewMode()" />
                                </td>
                            </tr>
                            <tr>
                                <td>{{page.UserDetails.LastName.Value}}</td>
                                <td>
                                    <span *ngIf="!isNewMode()">{{selectedResident.FullName.split(' ')[1]}}</span>
                                    <input type="text" [matKeyboard]="'en-only'" autocomplete="off" formControlName="lastName" *ngIf="isNewMode()" />
                                </td>
                            </tr>
                            <tr>
                                <td>{{page.UserDetails.FirstName.Value}}</td>
                                <td>
                                    <span *ngIf="!isNewMode()">{{selectedResident.FullName.split(' ')[0]}}</span>
                                    <input type="text" [matKeyboard]="'en-only'" autocomplete="off" formControlName="firstName" *ngIf="isNewMode()" />
                                </td>
                            </tr>
                            <tr>
                                <td>{{page.UserDetails.Age.Value}}</td>
                                <td>
                                    <span *ngIf="!isNewMode()">{{selectedResident?.BirthDate | date:'shortDate'}}</span>
                                    <input type="text" readonly formControlName="dob" *ngIf="isNewMode()" (click)="openDatePickerModal()" />
                                </td>
                            </tr>
                            <tr>
                                <td>{{page.UserDetails.Sex.Value}}</td>
                                <td>
                                    <span *ngIf="!isNewMode()">{{getGenderAsLongString(selectedResident.Sex)}}</span>
                                    <select formControlName="gender" *ngIf="isNewMode()">
                                        <option *ngFor="let ge of genders" [value]="ge.k">{{ge.v}}</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>{{page.UserDetails.MedicalRecNo.Value}}</td>
                                <td>
                                    <span *ngIf="!isNewMode()">{{selectedResident.MedicalRecNo}}</span>
                                    <input type="text" [matKeyboard]="'en-only'" autocomplete="off" formControlName="medRecNo" *ngIf="isNewMode()" />
                                </td>
                            </tr>
                            <tr>
                                <td>{{page.UserDetails.AdmitDate.Value}}</td>
                                <td>
                                    <span *ngIf="!isNewMode()">{{selectedResident?.AdmitDate | date:'shortDate'}}</span>
                                    <input type="datetime" formControlName="admitDate" *ngIf="isNewMode()" readonly />
                                </td>
                            </tr>
                            <tr>
                                <td>{{page.UserDetails.Station.Value}}</td>
                                <td>
                                    <span *ngIf="isDisplayMode()">{{selectedResident.StationName}}</span>
                                    <select formControlName="station" *ngIf="!isDisplayMode()" (change)="stationChanged($event.target.value)">
                                        <option *ngFor="let st of stations" [value]="st.UId">{{st.Name}}</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>{{page.UserDetails.Room.Value}}</td>
                                <td>
                                    <span *ngIf="isDisplayMode()">{{selectedResident.RoomName}}</span>
                                    <select formControlName="room" *ngIf="!isDisplayMode()" (change)="roomChanged($event.target.value)">
                                        <option *ngFor="let room of rooms" [value]="room.UId">{{room.Name}}</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>{{page.UserDetails.Bed.Value}}</td>
                                <td>
                                    <span *ngIf="isDisplayMode()">{{selectedResident.BedName}}</span>
                                    <select formControlName="bed" *ngIf="!isDisplayMode()">
                                        <option *ngFor="let bed of beds" [value]="bed.UId">{{bed.Name}}</option>
                                    </select>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
        <div class="actions-col" *ngIf="selectedResident">
            <app-image-button [btn]="page.AddResident" [assetsFolderPath]="assetsFolderPath" (onClick)="goToNewMode()"
                *ngIf="isDisplayMode()" [style]="btnStyle"></app-image-button>
            <app-image-button [btn]="page.EditResident" [assetsFolderPath]="assetsFolderPath" (onClick)="goToEditMode()"
                *ngIf="isDisplayMode()" [style]="btnStyle"></app-image-button>
            <app-image-button [btn]="page.Redmit" [assetsFolderPath]="assetsFolderPath" (onClick)="redmit()"
                *ngIf="isDisplayMode()" [style]="btnStyle"></app-image-button>
            <app-image-button [btn]="page.Discharge" [assetsFolderPath]="assetsFolderPath" (onClick)="discharge()"
                *ngIf="isDisplayMode()" [style]="btnStyle"></app-image-button>
            <app-image-button [btn]="page.Save" [assetsFolderPath]="assetsFolderPath" (onClick)="save()"
                *ngIf="!isDisplayMode()" [style]="btnStyle" [disabled]="!isDataFormValid()"></app-image-button>
            <app-image-button [btn]="page.Cancel" [assetsFolderPath]="assetsFolderPath" (onClick)="cancel()"
                *ngIf="!isDisplayMode()" [style]="btnStyle"></app-image-button>
        </div>
    </div>

</div>
