.admission-page {
    font-size: 100%;
    padding-top: 8px;

    .adm-row {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }
    .empty-col {
        width: 60px;
    }
    .search-col {
        padding-right: 20px;
        h1 {
            color: #00A9ED;
        }
    }
    .main-col {
        width: 45%;
        padding-left: 20px;
        padding-right: 15px;
        border-left: 1px solid #e5e5e5;

        h1 {
            color: #696A6C;
            margin-left: 15px;
        }
        table {
            width: 100%;
        }
        td {
            font-size: 170%;
            color: #838488;
            border-bottom: 1px solid #fff;
        }
        tr td:first-child {
            color: #171717;
            width: 300px;
        }
        .resident-details {
            background: #E5E5E5;
            border-radius: 12px;
            border: 1px solid #848484;
            padding: 20px 20px 40px 20px;
            box-shadow: inset 0px 3px 0px 1px #B3B3B3;
        }
        input, select {
            border-radius: 12px;
            padding: 0px 10px;
            color: #7F7F7F;
            background: #eDEDED;
            margin-bottom: 5px;
            box-shadow: 0px 1px 0px 1px #fff;
            outline: none;
            width: 300px;
        }
        select {
            padding-top: 3px;
            padding-bottom: 3px;
            margin-top: 1px;
        }
        .not-visible {
            visibility: hidden;
        }
    }
    .actions-col {
        padding-top: 30px;
        padding-left: 30px;

        > * {
            display: block;
        }
    }
}
