﻿<div class="date-picker-modal">
    <h1>{{datePickerModalVM.SelectDate.Value}}</h1>
    <app-date-picker [(ngModel)]="selectedDate"></app-date-picker>
    <div>
        <app-image-button [btn]="datePickerModalVM.Save" [assetsFolderPath]="assetsFolderPath"
            (onClick)="saveSelectedDate()" [style]="{'font-size': '26px', 'color': '#008DC1'}" [disabled]="selectedDate === null"></app-image-button>
        <app-image-button [btn]="datePickerModalVM.Cancel" [assetsFolderPath]="assetsFolderPath"
            (onClick)="cancelDateSelection()" [style]="{'font-size': '26px', 'color': '#810000'}"></app-image-button>
    </div>
</div>