﻿<div class="exit-modal">
    
    <img src="{{ assetsFolderPath + bound.Icon.Value }}" class="exit-icon" />
    <p [innerHtml]="bound.Confirmation.Value" class="title"></p>
    
    <p *ngIf="notificationText" class="notification">{{notificationText}}</p>

    <div class="buttons">
        <div class="modal-button yes-btn" (click)="yesCliked()">
            <img src="{{ assetsFolderPath + bound.Yes.Image.Value }}" />
            <div><span [innerHTML]="bound.Yes.Text.Value"></span></div>
        </div>
        <div class="modal-button no-btn" (click)="noClicked()">
            <img src="{{ assetsFolderPath + bound.No.Image.Value }}" />
            <div><span [innerHTML]="bound.No.Text.Value"></span></div>
        </div>
    </div>

</div>