.exit-modal {
    position: relative;
    width: 1100px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #85060F;
    font-size: 100%;
    text-align: center;
    border-radius: 15px;

    .exit-icon {
        position: absolute;
        left: 15px;
        top: 15px;
    }

    .title {
        color: #fff;
        font-family: Arial;
        font-size: 350%;
    }

    .notification {
        font-size: 200%;
        padding-bottom: 50px;
    }

    .buttons {
        margin-left: auto;
        margin-right: auto;

        .modal-button {
            position: relative;
            display: inline-block;
            cursor: pointer;
            font-size: 300%;
            margin: 0px 30px;

            > div {
                position: absolute;
                top: 0;
                left: 0;
                width:100%;
                height:100%;
                display: flex;
                justify-content: center;
                flex-direction: column;
                /*align-items: center;*/
                font-family: Arial;
                text-align: center;
                font-size: 26px;
            }
        }

        .yes-btn {
            color: #0195C2;
        }
        .no-btn {
            color: #850112;
        }
    }
}
