﻿<div class="maintenance-page">
    
    <div class="maintenance-button" *ngFor="let btn of page.Buttons" (click)="btnClick(btn.Action, modalTemplate)">
        <img [src]="getAsset(btn.Image.Value)" class="btn-image" />
        <img [src]="getAsset(btn.ActiveImage.Value)" class="btn-active-image" />
        <div><span [innerHTML]="btn.Text.Value"></span></div>
    </div>

</div>

<ng-template #modalTemplate>
    <div class="modal-holder" [style.backgroundImage]="'url(' + getAsset(currentDialog.Background.Value + ')')">
        <div class="modal-header">
            <span class="modal-title pull-left">{{currentDialog.Header.Value}}</span>
        </div>
        <div class="modal-img">
            <img [src]="getAsset(currentDialog.Button.Image.Value)" />
        </div>
        <div class="modal-body">
            <span class="modal-title pull-left">{{currentDialog.Button.Text.Value}}</span>
        </div>
    </div>
</ng-template>