.maintenance-page {
    display: table;
    height: 100%;
    text-align: center;
    font-size: 100%;
    margin: 0 auto;

    .maintenance-button {
        position: relative;
        display: table-cell;
        vertical-align: middle;
        padding: 30px;
        color: #707175;
        text-shadow: 2px 2px 2px #fff;
        font-size: 200%;

        &:active {
            text-shadow: -1px -1px 2px #000;

            .btn-active-image {
                display: inline-block;
            }
            .btn-image {
                display: none;
            }
        }

        .btn-active-image {
            display: none;
        }

        > div {
            position: absolute;
            top: 0;
            left: 0;
            width:100%;
            height:100%;
            display: flex;
            justify-content: center;
            flex-direction: column;
            font-family: sans-serif;
            text-align: center;
            cursor: pointer;
            user-select: none;
        }
    }
}

.modal-holder {
    color: black;
    font-size: 100%;
    width: 100%;
    height: 100%;
    border-radius: 55px;

    > * {
        display: block;
        margin: 0 auto;
        text-align: center;
    }

    .modal-header {
        margin-top: 60px;
        padding: 50px 0px;
        border: none;
        font-size: 2.5rem;
    }

    .modal-img {
        margin-top: 70px;
    }

    .modal-body {
        font-size: 4rem;
    }
}
