﻿<div class="master-layout">
    <div class="header">
        <app-page-header
                         (goHome)="goHome($event)"
                         (refreshPage)="refreshPage()"
                         (exit)="exit($event)"
                         (removeNotification)="removeNotification($event)"
                         (goToPage)="addEvent($event)">
        </app-page-header>
    </div>
    <div class="content" *ngIf="page$ | async as page">
        <div class="cart-backdrop" [ngClass]="{'cart-backdrop-shown': (cartState == 'in')}" (click)="toggleCart()"></div>
        <app-cart
                  [@slideInOut]="cartState"
                  [isClosed]="cartState !== 'in'"
                  (toggle)="toggleCart()"
                  (removeMedication)="removeMedication({obj: $event, evId: page.EventId})"
                  (dispense)="dispense($event)">
        </app-cart>
        <div class="placeholder" [ngClass]="{'blured': (cartState == 'in')}">
            <router-outlet></router-outlet>
        </div>
    </div>
    <ng4-loading-spinner [threshold]="100" [template]="spinnerImg"> </ng4-loading-spinner>
</div>