.master-layout {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;

    .header {
        height: 150px;
        background-color: #EDEDED;
    }

    .content {
        position: relative;
        flex: 1;
        background-color: #EDEDED;
        
        .placeholder {
            height: 100%;

            &.blured {
                filter: blur(5px);
            }
        }

        .cart-backdrop {
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            position: absolute;
            display: block;
            z-index: 3;
            visibility: hidden;
        }
        .cart-backdrop-shown {
            visibility: visible;
            /*background-color: rgba(0,0,0,.6);
            opacity: 0.3;*/
        }
    }
}