.meds-grid-wrapper {
    position: relative;
    padding-right: 40px;
    font-size: 100%;

    .grid-panel {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-top: 17px;

        .med-icon {
            margin-bottom: 15px;
        }

        .tabs {
            vertical-align: bottom;
            margin-left: 30px;
            display: inline-block;
            height: 100%;
            color: #0081B6;
            font-size: 44px;
            min-width: 300px;
        }

        .unselect {
            border: 1px solid #DAC9CB;
            border-radius: 26px;
            background: transparent;
            color: #6F0000;
            padding: 2px 30px;
            outline: none;
            font-size: 28px;
            cursor: pointer;
        }
        .prn-and-search {
            > * {
                display: inline-block;
            }
        }
        .search {
            width: 550px;
            position: relative;
            display: block;
            margin-left: 14px;

            img {
                position: absolute;
                left: 18px;
                top: 18px;
            }
            .search-textbox {
                font-size: 200%;
                border-radius: 12px;
                background-color: #ededed;
                padding: 10px 10px 10px 65px;
            }
        }
    }

    .grid {
        position: relative;
        width: 100%;

        .grid-cell {
            padding: 15px 2px 0px 3px;
            text-align: left;
            max-width: 7%;
            flex: 0 0 7%;
            border-right: 1px solid #bcbcbc;
            position: relative;
            font-size: 34px;
            border-top: 1px solid #000;
            border-bottom: 1px solid #000;

            &:nth-child(2) {
                border-bottom-left-radius: 8px;
                border-top-left-radius: 8px;
                border-left: 1px solid #000;
                text-align: center;
                padding: 7px 0px 0px 0px;
            }
            &:nth-child(4) {
                max-width: 56%;
                flex: 0 0 56%;
                overflow: hidden;
            }
            &:last-child {
                border-bottom-right-radius: 8px;
                border-top-right-radius: 8px;
                border-left: 1px solid #000;
            }

            .arrow {
                position: absolute;
                left: 35px;
                width: 0;
                height: 0;
                border-width: 20px;
                border-style: solid;
            }
            .arrow-1 {
                top: 30px;
                border-color: #0096C3 transparent transparent transparent;
            }
            .arrow-2 {
                top: 10px;
                border-color: transparent transparent #0096C3 transparent;
            }

            &.checkbox {
                text-align: center;
                border: none;
                background: transparent !important;
            }
            .med-pic {
                margin-left: auto;
                margin-right: auto;
                width: 82px;
                height: auto;
                border: 1px solid #000;
            }

            .red {
                color: #B15E64 !important;
            }
            .grey {
                color: grey !important;
                font-style: italic !important;
            }
            .gray {
                color: gray !important;
            }
            .med-details {
                color: grey;
                font-size: 22px;
            }
        }

        .grid-header {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            padding-top: 8px;
            color: #9B9D9E;

            .grid-cell {
                font-size: 1rem;
                border-bottom: none;
                padding: 0;
                border: none;
            }
        }

        .grid-body {
            position: relative;
            height: 430px;

            .grid-row {
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                color: #000;
                margin-bottom: 4px;

                &.selected {
                    .grid-cell {
                        background: #BCE8E6;
                    }
                }
            }
        }
    }

    .grid-footer {
        position: relative;
        height: 70px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: 36px;
        font-family: Arial;
        color: #850011;

        > span {
            color: #0085C2;
        }
    }
}

.meds-grid-wrapper::before, .meds-grid-wrapper .grid-header::before, .meds-grid-wrapper .grid-footer::before {
    position: absolute;
    content: '';
    bottom: 100%;
    left: 0;
    width: 95%;
    height: 3px;
    background-image:
        linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(188,188,188,1) 35%,rgba(188,188,188,1) 64%,rgba(255,255,255,1) 100%);
}

.meds-buttons {
    text-align: right;

    .add-btn {
        position: fixed;
        bottom: 15px;
        right: 5px;
        display: inline-block;
        cursor: pointer;
        font-size: 200%;
        margin: 0px 30px;
        color: #850011;

        > div {
            position: absolute;
            top: 0;
            left: 0;
            width:100%;
            height:100%;
            display: flex;
            justify-content: center;
            flex-direction: column;
            font-family: Arial;
            text-align: center;
        }

        &.disabled {
            opacity: 0.5;
            cursor: default;
        }
    }
}