﻿<div class="meds-grid-wrapper">
  <div class="grid-panel">
    <div>
      <img src="{{ assetsFolderPath + medsVM.Icon.Value }}" class="med-icon"/>
      <div class="tabs">
        {{ medsVM.RoutineMedsTabTitle.Value }}
      </div>
      <button class="unselect" *ngIf="medsVM.UnselectRoutine" (click)="clearSelectedMedications('ROUTING')">
        {{medsVM.UnselectRoutine?.Value}}
      </button>
    </div>
    <div class="prn-and-search">
        <app-image-button [btn]="medsVM.PrnButton" [assetsFolderPath]="assetsFolderPath" *ngIf="medsVM.PrnButton"
          (onClick)="scrollToPrn()" [style]="{'color': '#fff', 'font-size': '26px'}"></app-image-button>
        <form [formGroup]="medsSearchForm">
          <div class="search">
            <img [src]="assetsFolderPath + medsVM.SearchField.Image.Value"/>
            <input class="form-control search-textbox" type="text" spellcheck="false" autocomplete="off" title=""
                    [placeholder]="medsVM.SearchField.Placeholder.Value"
                    formControlName="query"
                    matInput
                    [matKeyboard]="'en-only'"
            />
          </div>
        </form>
    </div>
  </div>
  <div class="grid">
    <div class="grid-header">
      <div *ngFor="let header of medsVM.ColumnNamesAsArray" class="grid-cell">
        <span *ngIf="header.indexOf('::{') >= 0; else plainCell" [innerHtml]="replaceImageMarkers(header)"
              [popover]="infoPopTempl" containerClass="med-legend-tooltip"></span>
        <ng-template #plainCell>{{ header }}</ng-template>
      </div>
    </div>
    <div class="grid-body pill-scrollbar">
      <div class="grid-row"
           *ngFor="let cell of medicationList"
           [@rowDetails]="cell.expanded ? true : false"
           [ngClass]="{selected: cell.selected}"
           (click)="selectMedRow(cell)">
        <div class="grid-cell checkbox">
          <img
            src="{{ assetsFolderPath + (cell.selected ? medsVM.Select.Image.Value : medsVM.Select.UncheckedImage.Value) }}"/>
        </div>
        <div class="grid-cell">
          <img src="{{ assetsFolderPath + (cell.ImageSrc ? cell.ImageSrc : 'img_404.png') }}" class="med-pic"/>
        </div>
        <div class="grid-cell">
            <span [className]="getMedicationClassName(cell)">{{ cell.Quantity }}</span>
        </div>
        <div class="grid-cell">
          <p [className]="getMedicationClassName(cell)">{{ cell.MedicationName }}</p>
          <p class="med-details">
              RX Number: {{ cell.RxNumber }}<br />
              RO Number: {{ cell.RoNumber }}<br />
              Quantity: {{ cell.QuantityPerDose }} (per dose) \ {{ cell.SplitNumber }} (split number) \ {{ cell.TQW }} (written) \ {{ cell.TQD }} (dispensed) \ {{ cell.TQR }} (remaining) <br />
              Given {{ cell.DosageToday ? cell.DosageToday : 0 }} dosage(s) today <span *ngIf="cell.LastGiven">, last given {{ cell.LastGiven }} hour(s) ago</span><br />
              SIG: {{ cell.SigDescription }}<br />
              SIG Time: {{ cell.SigTimeAsString }}<br />
              ExpirationDate: {{ cell.MedExpirationDate | date:'shortDate' }}
          </p>
        </div>
        <div class="grid-cell">{{ cell.SigDescription }}</div>
        <div class="grid-cell">
          &nbsp;
        </div>
        <div class="grid-cell" (click)="expandMedRow({ event: $event, itm: cell})">
          <div class="arrow" [ngClass]="{'arrow-2': cell.expanded, 'arrow-1': !cell.expanded}"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="grid-footer" [ngClass]="{'d-none': selectedMedicationsCount == 0}">
    <div (click)="clearSelectedMedications()">
      <img src="{{ assetsFolderPath + medsVM.ClearSelected.Image.Value }}"/>
      <span>{{ medsVM.ClearSelected.Text.Value }}</span>
    </div>
    <span>{{ selectedMedicationsCount + ' Selected' }}</span>
  </div>
</div>

<div class="meds-buttons">
  <div class="add-btn" (click)="addToPackageInt()" [ngClass]="{'disabled': selectedMedicationsCount == 0}">
    <img src="{{ assetsFolderPath + addToPackageBtn.Image.Value }}"/>
    <div><span [innerHTML]="addToPackageBtn.Text.Value"></span></div>
  </div>

  <ng-template #infoPopTempl>
    <table cellpadding="3" cellspacing="3" width="420">
      <tr *ngFor="let l of medsVM.Legend">
        <td><img src="{{ assetsFolderPath + l.Image.Value }}" width="20" height="20" /></td>
        <td>{{l.Text.Value}}</td>
      </tr>
    </table>
  </ng-template>
</div>
