<div class="inventory-page container-fluid" *ngIf="context$ | async as context">
  <div class="row">
    <div class="col"></div>
    <div class="col-9">

      <div class="section-wrapper pill-scrollbar">
        <div *ngFor="let sectionItem of sectionItems; let i = index" class="section-container">
          <div class="section-header" (click)="clickHeader(sectionItem)">
            <span>
              <img src="{{ assetsFolderPath + (sectionItem.Selected ? toggleSection?.Image?.Value : toggleSection?.UncheckedImage?.Value)}}"/>
            </span>
            <span class="section-header-title">{{sectionItem.InventoryType}}</span>
            <span *ngIf="sectionItem.Blocked" class="section-header-warning">{{page.DoorOpenMessage}}</span>
          </div>
          <div *ngIf="sectionItem.Selected" class="grid-container">
            <div class="grid">
              <div>
                <div class="grid-header">
                  <div *ngFor="let header of page.ColumnNamesAsArray" class="grid-cell grid-header-cell">
                    <span>{{ header }}</span>
                  </div>
                </div>

                <div *ngIf="sectionItem.InventoryItems && sectionItem.InventoryItems.length > 0" class="grid-body">
                  <div class="grid-row"
                       *ngFor="let cell of sectionItem.InventoryItems"
                       (click)="selectItem(cell, i)"
                       [ngClass]="{selected: cell.Selected}">
                    <div class="grid-cell checkbox">
                      <img src="{{ assetsFolderPath + (cell.Selected ?  toggle?.Image?.Value : toggle?.UncheckedImage?.Value) }}"/>
                    </div>
                    <div class="grid-cell med-cell">
                      <p>{{ cell.MedicationName }}</p>
                    </div>
                    <div class="grid-cell">
                      <p>{{ cell.Form }}</p>
                    </div>
                    <div class="grid-cell">
                      <p>{{ cell.ScanQuantity }}</p>
                    </div>
                    <div class="grid-cell">
                      <p>{{ cell.Count }}</p>
                    </div>
                    <div class="grid-cell">
                      <p>{{ cell.Discrepancy }}</p>
                    </div>
                    <div class="grid-cell">
                      <img (click)="removeItem(cell, i)" class="cross-btn" src="{{ assetsFolderPath + page.Cross?.Value}}"/>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
    </div>

    <div class="col-2 buttons">
      <div class="action-buttons">
        <div class="centered-btn action-btn"
             *ngFor="let btn of page.ActionButtons; let i = index;"
             (click)="actionBtnClicked(btn, i)"
             [ngClass]="{'selected': btn.Clicked}">
          <img [src]="getAsset(btn.Image.Value)" />
          <div>
            <span [innerHTML]="btn.Text.Value"></span>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="more-inventory" *ngIf="page.InventoryReport" (click)="sendClickEvent(page.More.Action)">
    <span class="inventory-text">{{page.InventoryReport.Text.Value}}</span>
    <img class="button-image" [src]="getAsset(page.InventoryReport.Image.Value)" />
  </div>
</div>
