.inventory-page {
  position: relative;
  padding-right: 40px;
  font-size: 100%;

  .message{
    border: 1px #85060f solid;
    border-radius: 15px;
    padding: 2px 30px 2px 30px;
    color: #85060f !important;
  }

  .buttons {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    cursor: pointer;
    .action-buttons {
      padding-top: 120px;
    }
    .action-btn {
      display: inline-block;
      color: gray;
      font-size: 20px;
      margin-bottom: 10px;
    }
    .start-btn {
      display: inline-block;
      color: red;
      font-weight: bolder;
      font-size: 28px;
    }
    .selected {
      color: #64B3C9;
    }
  }

  p{
    margin-bottom: 0;
  }
  .cross-btn{
    margin-top: 2px;
    margin-bottom: 2px;
    cursor: pointer;
  }
  .grid-panel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 17px;
  }

  .section-wrapper {
    height: 700px;
  }

  .grid-container{
    margin-left: 15px;
    background: #FFFFFF !important;
  }

  .grid {
    position: relative;
    width: 100%;

    .grid-name{
      color: #1dafec;
      margin-left: 7%;
      font-size: 30px;
      font-weight: bold;
    }

    .grid-name-container{
      margin-top: 40px;
      background-color: #ededed;
    }

    .grid-header-cell{
      color: #9B9D9E !important;

      &:nth-child(1) {
        margin-left: 10px;
      }

      &:nth-child(2) {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
      &:last-child {
        padding-top: 5px;
      }
    }

    .grid-cell {
      padding: 0px 2px 0px 3px;
      position: relative;
      font-size: 25px;
      border-top: 1px solid #000;
      border-bottom: 1px solid #000;
      background-color: white;
      text-align: center;
      font-weight: bold;
      border-left: 1px groove #bcbec0;
      margin-bottom: 10px;
      max-width: 9%;
      flex: 0 0 9%;

      &:nth-child(2) {
        max-width: 39%;
        flex: 0 0 39%;
        border-left: 1px solid #000;
        text-align: left;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        padding-left: 10px;
        margin-left: 10px;
      }

      &:nth-child(3) {
        text-align: left;
        max-width: 16%;
        flex: 0 0 16%;
      }

      &:nth-child(5) {
        color: #9B9D9E;
      }

      &:nth-child(6){
        color: #B15E64;
        max-width: 11%;
        flex: 0 0 11%;
      }

      &:last-child {
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        padding-right: 1px;
        border-right: 1px groove #000000;
        border-left: 0;
        max-width: 5%;
        flex: 0 0 5%;
      }

      &.checkbox {
        text-align: center;
        border: none;
        background: #ededed !important;
        margin: 0;
      }

      &.med-cell {
        width: 20px;
      }

      .med-pic {
        margin-left: auto;
        margin-right: auto;
        width: 82px;
        height: auto;
        border: 1px solid #000;
      }

      .red {
        color: #B15E64 !important;
      }
      .grey {
        color: grey !important;
        font-style: italic !important;
      }
      .gray {
        color: gray !important;
      }
      .med-details {
        color: grey;
        font-size: 22px;
      }
    }

    .grid-header {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      color: #9B9D9E;
      margin: 0;

      .grid-cell {
        border: 0;
        padding: 0;
        border-radius: 0;
        font-size: 20px;
        font-weight: bold;

        &:nth-child(1) {
          background: #ededed;
          margin: 0;
        }
      }
    }

    .grid-body {
      position: relative;

      .grid-row {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        color: #000;

        &.selected {
          .grid-cell {
            background: #BCE8E6;
          }
        }
      }
    }
  }

  .section-header {
    margin-left: 20px;
    padding-bottom: 5px;
    margin-bottom: 10px;
  }

  .section-header-title {
    padding-top: 5px;
    margin-left: 20px;
    color: #1DAFEC;
    font-size: 24px;
    font-weight: bolder;
  }

  .section-container {
    margin-bottom: 20px;
  }

  .section-header-warning {
    float: right;
    color: darkred;
    font-size: 24px;
    font-weight: bolder;
    padding: 0px 15px;
    border: 1px solid darkred;
    border-radius: 15px;
  }

  .more-inventory {
    text-align: right;
    padding-right: 15px;
    color: #000;
    font-size: 150%;

    * {
      display: inline-block;
      vertical-align: middle;
    }
  }

  .button-image {
    height: 80px;
    position: relative;
  }


  .inventory-text {
    font-weight: bolder;
  }
}
