@color: #ADAEB0;

.breadcrumb-holder {
    display: flex;
    list-style: none;

    .breadcrumb-itm {
        color: @color;

        a {
            color: @color;
            text-decoration: none;
            background-color: transparent;
        }
    }

    .breadcrumb-itm+.breadcrumb-itm {
        padding-left: .5rem;

        &::before {
            display: inline-block;
            padding-right: .4rem;
            content: '>';
            color: @color;
        }
    }
}