﻿<ol class="breadcrumb-holder">
    <li class="breadcrumb-itm">
        Home
        <!--<a routerLink="">Home</a>-->
    </li>
    <li class="breadcrumb-itm" *ngFor="let breadcrumb of breadcrumbs$ | async">
        {{breadcrumb.label}}
        <!--<a [routerLink]="[breadcrumb.url]">{{breadcrumb.label}}</a>-->
    </li>
</ol>