﻿<div class="prn-page" *ngIf="context$ | async as context">
    
    <app-resident-details
            [currentResident]="context.currentResident"
            [assetsFolderPath]="assetsFolderPath"
            [userDetails]="page.UserDetails"
            (sendEvent)="sendClickEvent($event)"
    ></app-resident-details>

    <app-medications-grid
            [assetsFolderPath]="assetsFolderPath"
            [medsVM]="page.MedicationList"
            [dataSource]="meds$ | async"
            [addToPackageBtn]="page.AddToPackage"
            (addToPackage)="addToPackage($event)"
    ></app-medications-grid>

</div>
