<div class="image-editor">
    <table style="width: 100%" cellpadding="3">
        <tbody>
            <tr>
                <td valign="top">Image: </td>
                <td>
                    <input [(ngModel)]="control.Source" class="form-control" style="width: 100%" />
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr><td colspan="2">
                    <app-actions-block (saveForm)="saveForm()"
                                       (cancel)="cancel()"></app-actions-block>
            </td></tr>
        </tfoot>
    </table>
</div>
