.schedule-page {
    .main-column {
        width: 76%;
        margin-left: 110px;
        display: inline-block;
    }
    .actions-column {
        display: inline-block;
        padding-left: 15px;
    }
}
