﻿<div class="schedule-page" *ngIf="context$ | async as context">
    
    <div class="main-column">
            <app-resident-details
            [currentResident]="context.currentResident"
            [assetsFolderPath]="assetsFolderPath"
            [userDetails]="page.UserDetails"
            [searchMode]="true"
            (sendEvent)="sendClickEvent($event)"
            (searchHandler)="searchMeds({query: $event, residentId: context.currentResident.UId})"
        ></app-resident-details>

        <app-resident-meds [dataSource]="dataSource$ | async"></app-resident-meds>
    </div>
    <div class="actions-column">
        <app-image-button [btn]="page.Ok" [assetsFolderPath]="assetsFolderPath" (onClick)="sendClickEvent($event)" [style]="{'font-size': '26px'}"></app-image-button>
    </div>

</div>
