<div class="base-item-editor">
    <table style="width: 100%" cellpadding="3">
        <tbody>
            <tr>
                <td valign="top">Id: </td>
                <td>
                    {{ control.Id }}
                </td>
            </tr>
            <tr>
                <td valign="top">Text: </td>
                <td>
                    <input [(ngModel)]="control.Text" class="form-control" style="width: 100%" />
                </td>
            </tr>
            <tr>
                <td valign="top">Enabled: </td>
                <td>
                    <input [checked]="control.Enabled" type="checkbox" />
                </td>
            </tr>
            <tr *ngIf="control.Image">
                <td valign="top">Image: </td>
                <td>
                    <input [(ngModel)]="control.Image.Source" class="form-control" style="width: 100%" />
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr><td colspan="2">
                    <app-actions-block (saveForm)="saveForm()"
                                       (cancel)="cancel()"></app-actions-block>
            </td></tr>
        </tfoot>
    </table>
</div>
