.yes-no-ctrl {
    .custom-toggle {
        display: inline-block;
        color: #909090;
        font-size: 20px;
        background: #F9F9F9;
        border: 1px solid #DADADA;
        border-radius: 5px;
        padding: 1px 50px 3px 8px;
        cursor: pointer;
        box-shadow: -2px 4px 5px 0px #B4B4B4;
        margin-right: 30px;
        min-width: 122px;
        &:active {
            box-shadow: 2px -4px 5px 0px #fff;
        }

        img {
            margin-right: 4px;
        }
    }
}
