﻿<div class="yes-no-ctrl">
    <div class="custom-toggle" role="button" (click)="updateSelection(true)">
        <img *ngIf="selectedValue === true"  [src]="assetsFolderPath + toggle?.Image?.Value" />
        <img *ngIf="selectedValue === false" [src]="assetsFolderPath + toggle?.UncheckedImage?.Value" />
        <span>{{toggle?.Text?.Value}}</span>
    </div>
    <div class="custom-toggle" role="button" (click)="updateSelection(false)">
        <img *ngIf="selectedValue === false"  [src]="assetsFolderPath + toggle?.Image?.Value" />
        <img *ngIf="selectedValue === true"   [src]="assetsFolderPath + toggle?.UncheckedImage?.Value" />
        <span>{{toggle?.UncheckedText?.Value}}</span>
    </div>
</div>